<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 side">
        <?=$this->action('widget-discounted-sidebar', 'product', 'catalog')?>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 main">
        <div class="section">
            <h1 class="section-title">Наши контакты</h1>
            <div class="section-body">
                <a id="firmsonmap_biglink" href="http://maps.2gis.ru/#/?history=project/blagoveshensk/center/127.53862911414,50.26266078718/zoom/17/state/widget/id/7318877675597354/firms/7318877675597354">Перейти к большой карте</a>
                <script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
                <script charset="utf-8" type="text/javascript">new DGWidgetLoader({"borderColor":"#a3a3a3","width":"840","height":"400","wid":"5aa50dd8d7b3134775481d9491ce5f3a","pos":{"lon":"127.53862911414","lat":"50.26266078718","zoom":"17"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings"],"city":"blagoveshensk"},"org":[{"id":"7318877675597354","hash":"12eCqa34385IJ1HJf27duvgc7A680J35be3g348A589AB069d54f69GA1J0I0A20GHsu8A"}]});</script>
                <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
                
                <div class="section">
                    <h4 class="section-title">Обратная связь</h4>
                    <div class="section-body">
                        <p>Вы можете связаться с нами в любое время по любым вопросам!</p>
                        <div class="space20"></div>
                        <?=$this->form?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>