<div class="section">
    <? if (!empty($this->page)): ?>
        <h1 class="section-title"><?=$this->page->title?></h1>
        <div class="section-body">
            <?=$this->page->text?>
        </div>
    <? endif; ?>
</div>