<!-- @see http://icomoon.io -->
<!--<a class="glyph" href="<?=$this->baseUrl('/admin')?>">
    <span class="icon-home icon-big"></span>
    <p class="mls">Главная</p>
</a>
<a class="glyph" href="<?=$this->baseUrl('/admin/settings')?>">
    <span class="icon-cogs icon-big"></span>
    <p class="mls">Настройки</p>
</a>
<a class="glyph" href="<?=$this->baseUrl('/admin/users')?>">
    <span class="icon-users icon-big"></span>
    <p class="mls">Пользователи</p>
</a>
<a class="glyph" href="<?=$this->baseUrl('/admin/news/list')?>">
    <span class="icon-quill icon-big"></span>
    <p class="mls">Новости</p>
</a>
<a class="glyph" href="<?=$this->baseUrl('/admin/gallery')?>">
    <span class="icon-image icon-big"></span>
    <p class="mls">Галереи</p>
</a>
<a class="glyph" href="<?=$this->baseUrl('/admin/page/list')?>">
    <span class="icon-copy icon-big"></span>
    <p class="mls">Страницы</p>
</a>
<a class="glyph" href="<?=$this->baseUrl('/admin/slide/list')?>">
    <span class="icon-images icon-big"></span>
    <p class="mls">Слайды</p>
</a>
<a class="glyph" href="<?=$this->baseUrl('/admin/contacts')?>">
    <span class="icon-compass icon-big"></span>
    <p class="mls">Контакты</p>
</a>-->