<link rel="stylesheet" href="<?=$this->baseUrl()?>/js/admin/codemirror/codemirror.css">
<script src="<?=$this->baseUrl()?>/js/admin/codemirror/codemirror.js"></script>
<script src="<?=$this->baseUrl()?>/js/admin/codemirror/properties.js"></script>
<div class="code_form">
    <?=$this->form?>
</div>
<script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), { lineNumbers: true });
    editor.setOption('theme', 'monokai');
</script>