<div id="header">
    <div style="position:absolute; top:6px; left:30px; font-size:30px;">
        Amur.net <span style="opacity:0.3;"><?=$this->site_name;?></span>
    </div>
    <div id="account_info"> 
        <div>
            <a href="<?=$this->baseUrl()?>/">
                <strong>Перейти на сайт</strong>
            </a>
        </div> 
    </div>
</div>