<? if(isset($this->form)): ?>
    <? if(isset($this->messages)): ?>
        <? foreach($this->messages as $message): ?>
            <div class="message warning" style="display: block; "><p><?=$message?></p><span class="close" title="Закрыть"></span></div>
        <? endforeach; ?>
    <? endif; ?>
    <?=$this->form?>
<? endif; ?>