<style>
.errors li {
    list-style: none;
    font-size: 10px;
    text-align: left;
    margin: 0 34px 10px 34px;
    color: rgb(255, 111, 111);
}
</style>
<div id="successLogin"></div>
<div class="text_success">
    <img src="<?=$this->baseUrl()?>/images/admin/loadder/loader_green.gif"  alt="ziceAdmin" />
    <span>Подождите...</span>
</div>
<div id="login">
    <div class="inner">
        <div class="logo" >
            <img src="<?=$this->logotype?>" alt="<?=$this->site_name?>" />
        </div>
        <div class="formLogin">
            <?=$this->form?>
        </div>
    </div>
    <div class="clear"></div>
    <div class="shadow"></div>
</div>
<script>
$(document).ready(function () {	  
    $('form').submit(function(){
        setTimeout("Login()", 500);
    });
});	
function Login(){
    $("#login").animate({   
        opacity: 1, top: '49%' 
    }, 200,function(){
        $('.userbox').show().animate({ opacity: 1 }, 500);
        $("#login").animate({   opacity: 0,top: '60%' }, 500,function(){
            $(this).fadeOut(200,function(){
                $(".text_success").slideDown();
                $("#successLogin").animate({opacity: 1,height: "200px"},500);   			     
            });							  
        });
    });
}
</script>