<div class="container main-content clearfix">
    <div class="sixteen columns bottom-2 top-3">
        <div class="alert error">
            <i class="icon-warning-sign"></i>
            <p>Вам запрещен доступ к данному ресурсу</p>
        </div>
    </div>
</div>