<ul id="main_menu" class="main_menu">
    <? foreach($this->container as $page): ?>
        <? if (!$page->isVisible()) continue;?>
        <? if (!empty($page->resource) && !empty($page->privilege) && !Zend_Registry::get('Acl')->isAllowed(usEngine_Acl_Plugin::getRole(),$page->resource,$page->privilege)) continue; ?>
        <? $id = str_replace(":", "", $page->resource . $page->privilege) ?>
        <li class="limenu <?=($page->isActive(true) ? 'select' : '')?>" id="<?=$id ?>">
            <a href="<?=$page->getHref()?>">
                <span class="ico gray shadow file"></span>
                <strong><?=$page->label?></strong>
            </a>
            <? if(count($page)>0):?>
                <ul>
                    <? foreach($page as $page): ?>
                        <? if (!$page->isVisible()) continue;?>
                        <? if ($page->class == 'none') continue;?>
                        <? if (!empty($page->resource) && !empty($page->privilege) && !Zend_Registry::get('Acl')->isAllowed(usEngine_Acl_Plugin::getRole(),$page->resource,$page->privilege)) continue; ?>
                        <li><a href="<?=$page->getHref()?>"><?=$page->label?></a></li>
                    <? endforeach; ?>
                </ul>
            <? endif;?>
        </li>
    <? endforeach; ?>
</ul>