<?=$this->doctype() ?>
<?=$this->layout()->header ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script>var MY_LINK = "<?=$this->baseUrl()?>";</script>
        <?php
            /* DATEPICKER */
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/datepicker/css/datepicker.css');
            /* ADMIN */
            $this->headLink()->appendStylesheet($this->baseUrl() . '/css/admin/zice.style.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/css/admin/icon.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/css/admin/ui-custom.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/css/admin/timepicker.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/stylesheets/colors.css');

            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/colorpicker/css/colorpicker.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/datatables/dataTables.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/validationEngine/validationEngine.jquery.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/jscrollpane/jscrollpane.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/fancybox/jquery.fancybox.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/tipsy/tipsy.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/editor/jquery.cleditor.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/chosen/chosen.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/confirm/jquery.confirm.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/sourcerer/sourcerer.css');
            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/fullcalendar/fullcalendar.css');
//            $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/Jcrop/jquery.Jcrop.css');
        ?>

        <?php
            /* DATEPICKER */
            $this->headScript()->prependFile($this->baseUrl() . '/components/datepicker/js/datepicker.js');
            /* ADMIN */
            $this->headScript()->prependFile($this->baseUrl() . '/js/admin/zice.custom.js');
            $this->headScript()->prependFile($this->baseUrl() . '/js/admin/jquery.jgrowl.js');
            $this->headScript()->prependFile($this->baseUrl() . '/js/admin/jquery.jec.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/print/jquery.printPage.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/elastic/jquery.elastic.source.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/highlightText/highlightText.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/maskedinput/jquery.maskedinput.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/smartWizard/jquery.smartWizard.min.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/dualListBox/dualListBox.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/rating_star/rating_star.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/webcam/webcam.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/imgTransform/jquery.transform.js');
//            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/Jcrop/jquery.Jcrop.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/placeholder/jquery.placeholder.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/filestyle/jquery.filestyle.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/effect/jquery-jrumble.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/checkboxes/customInput.jquery.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/uploadify/uploadify.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/uploadify/swfobject.js');
//            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/flot/graphtable.js');
//            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/flot/flot.resize.min.js');
//            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/flot/flot.pie.min.js');
//            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/flot/flot.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/fullcalendar/fullcalendar.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/sourcerer/sourcerer.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/vticker/jquery.vticker-min.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/validationEngine/jquery.validationEngine-en.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/validationEngine/jquery.validationEngine.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/confirm/jquery.confirm.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/chosen/chosen.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/editor/jquery.cleditor.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/tipsy/jquery.tipsy.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/spinner/ui.spinner.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/jscrollpane/jscrollpane.min.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/jscrollpane/mwheelIntent.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/jscrollpane/mousewheel.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/fancybox/jquery.fancybox.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/scrolltop/scrolltopcontrol.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/datatables/ColVis.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/datatables/dataTables.min.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/checkboxes/iphone.check.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/colorpicker/js/colorpicker.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/ui/timepicker.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/ui/jquery.autotab.js');
            $this->headScript()->prependFile($this->baseUrl() . '/components/admin/ui/jquery.ui.min.js');
            $this->headScript()->prependFile($this->baseUrl() . '/js/admin/tiny_mce/tiny_mce.js');
            $this->headScript()->prependFile($this->baseUrl() . '/js/admin/jquery.cookie.js');
            $this->headScript()->prependFile($this->baseUrl() . '/js/admin/jquery.min.js');
        ?>

        <?=$this->headMeta()?>
        <?=$this->headTitle()?>
        <?=$this->headLink()?>
        <?=$this->headScript()?>
    </head>
    <body class="dashborad">
        <script type="text/javascript">
            $().ready(function(){
                $(".alertMessage").click(function(){
                    $(this).hide();
                });
            });
        </script>
        <div id="alertMessage" class="error"></div>
        <?=$this->action('header', 'index', 'admin')?>
        <?=$this->action('menu', 'index', 'admin')?>
        <div id="content">
            <div class="inner">
                <?=$this->messages()?>
                <?=$this->layout()->content?>
                <div class="clear"></div>
                <div id="footer"> 
                    © Copyright <?=date('Y')?> 
                    <span class="tip">
                        <a href="http://amur.net" original-title="Amur.net" target="_blank">Amur.net</a> 
                    </span> 
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </body>
</html>