<style type="text/css">
    .table-filter {
        float: left;
    }
    .table-filter dl {
        margin: 0px;
        padding: 0px;
    }
    .table-filter dt {
        display: none;
    }
    .table-filter dd {
        float: left;
        margin: 0px 15px 0px 0px;
    }
</style>
<div class="widget">
    <div class="header">
        <span>
            <span class="ico gray spreadsheet"></span> <?= $this->tableName; ?>
        </span>
    </div><!-- End header -->   
    <div class="content" >
        <form action="" method="post" id="adminForm">
            <div class="tableName inTab">
                <div class="table-filter">
                    <?=$this->plugins['Filter']->render()?>
                </div>
                <?=$this->plugins['Toolbar']->render()?>
                <table class="display data_table1" id="toooooo1">
                    <thead>
                        <tr>
                            <? if(isset($this->plugins['Ordering'])): ?>
                                <th style="width:50px">#</th>
                            <? endif; ?>
                            <th width="35" align="left">
                                <input type="checkbox" id="goooooo1"  class="checkAll"/>
                            </th>
                            <? foreach($this->tableColumns as $column => $name): ?>
                                <th <?=$this->plugins['Align']->render($column)?>>
                                    <?=$name . $this->plugins['Sortable']->render($column)?>
                                </th>
                            <? endforeach; ?>
                            <th width="199">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <? $pagination = $this->plugins['Navigator']->render($this->dq); ?>
                        <? foreach($this->plugins['Navigator']->getData() as $data): ?>
                            <tr class="tr">
                                <? if(isset($this->plugins['Ordering'])): ?>
                                    <td><img class="iconfa-reorder" src="<?=$this->baseUrl()?>/images/icons/move.png"/></td>
                                <? endif; ?>
                                <td align="left"><?=$this->plugins['Checkbox']->render($data)?></td>
                                <? foreach($this->tableColumns as $column => $name): ?>
                                    <td <?=$this->plugins['Align']->render($column)?>>
                                        <?=$this->plugins['Format']->render($column, $data->$column)?>
                                    </td>
                                <? endforeach; ?>
                                <td><?=$this->plugins['Actions']->render($data)?></td>
                            </tr>
                        <? endforeach; ?>
                    </tbody>
                </table>
                <div class="dataTables_wrapper">
                    <?=$this->plugins['Print']->render()?>
                    <?=$pagination?>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    jQuery(function(){
        jQuery('.tableName .toolbar_buttons a').click(function(){
            if (jQuery(this).attr('rel') != 'isNull') {
                var countChecked = 0;
                var check = document.getElementsByName("ids[]");
                for (var i=0; i<check.length; i++) if (check[i].checked) countChecked++;
                if (countChecked < 1) {
                    alert('Необходимо выбрать хотя бы одно значение');
                    return false;
                }
                var action = $(this).attr('href');
                jQuery('#adminForm').attr({'action':action}).submit();
                return false;
            }
        });
        jQuery('#btnPrint').click(function(){
            var countChecked = 0;
            var check = document.getElementsByName("ids[]");
            var link = '?';
            for (var i=0; i<check.length; i++) {
                if (check[i].checked) {
                    countChecked++;
                    link = link + '&ids[]=' + check[i].value;
                }
            }
            if (countChecked < 1) {
                alert('Необходимо выбрать хотя бы одно значение');
                return false;
            }
            $("#btnPrint").printPage({
                url : $(this).attr('href') + link,
                message : 'Пожалуйста, подождите...'
            });
        });
        $('a[rel=glr]').fancybox({
            'showCloseButton': true,
            'centerOnScroll' : true, 
            'overlayOpacity' : 0.8,
            'padding' : 0
        });
    });    
</script>
<? if(isset($this->plugins['Ordering'])): ?>
    <?=$this->plugins['Ordering']->render()?>
<? endif; ?>