<p class="breadcrumb">    
    <a title="Админ-панель" href="<?=$this->baseUrl()?>/admin/">Админ-панель</a>
    <? $this->pages = array_unique($this->pages); ?>
    <? if(count($this->pages) > 0):?>
         »
        <? foreach($this->pages as $page): ?>
            <? if ($page->isActive(false)):?>
                <strong><?=$page->label?></strong>
            <? else: ?>
                <a href="<?=$page->getHref()?>"><?=$page->label?></a> »
            <? endif; ?>
        <? endforeach; ?>
    <? endif; ?>
</p>