<?=$this->doctype()?>
<?=$this->layout()->header?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <? $this->headLink()->appendStylesheet($this->baseUrl() . '/css/admin/zice.style.css')?>
        <? $this->headLink()->appendStylesheet($this->baseUrl() . '/css/admin/icon.css')?>
        <? $this->headLink()->appendStylesheet($this->baseUrl() . '/components/admin/tipsy/tipsy.css')?>
        <? $this->headScript()->appendFile($this->baseUrl() . '/js/admin/jquery.min.js')?>
        <? $this->headScript()->appendFile($this->baseUrl() . '/components/admin/effect/jquery-jrumble.js')?>
        <? $this->headScript()->appendFile($this->baseUrl() . '/components/admin/ui/jquery.ui.min.js')?>
        <? $this->headScript()->appendFile($this->baseUrl() . '/components/admin/tipsy/jquery.tipsy.js')?>
        <? $this->headScript()->appendFile($this->baseUrl() . '/components/admin/checkboxes/iphone.check.js')?>
        <? $this->headScript()->appendFile($this->baseUrl() . '/js/admin/login.js')?>
        <?=$this->headMeta()?>
        <?=$this->headTitle()?>
        <?=$this->headLink()?>
        <?=$this->headScript()?>
        <style type="text/css">
        html{background-image:none}
        label.iPhoneCheckLabelOn span{padding-left:0px}
        #versionBar{background-color:#212121;position:fixed;width:100%;height:35px;bottom:0;left:0;text-align:center;line-height:35px;z-index:11}
        .copyright{text-align:center;font-size:10px;color:#CCC}
        .copyright a{color:#A31F1A;text-decoration:none}    
        </style>
    </head>
    <body>
        <div id="alertMessage" class="error"></div>
        <?=$this->messages()?>
        <?=$this->layout()->content?>
        <div class="clear"></div>
        <div id="versionBar">
            <div class="copyright"> 
                &copy; Copyright 2014<?=(date('Y') > 2013) ? ' - ' . date('Y') : ''?> Все права защищены
                <span class="tip">
                    <a  href="http://amur.net" title="Amur.net" >Amur.net</a> 
                </span> 
            </div>
        </div>
    </body>
</html>