<?php
$param = 'page';
$url = preg_replace('/(\?|&)' . $param . '=(\d+)/', '', $_SERVER['REQUEST_URI']);
$url .= preg_match('/\?/i', $url) ? '&' . $param . '=' : '?' . $param . '=';
?>
<? if ($this->pageCount > 1): ?>
    <div class="dataTables_paginate paging_full_numbers">
        <? if (isset($this->previous)): ?>
            <a href="<?= $url . $this->previous ?>" class="previous paginate_button">«</a>&nbsp;
        <? else: ?>
            <a href="#" class="previous paginate_button paginate_button_disabled">«</a>&nbsp;
        <? endif; ?>
        <? foreach ($this->pagesInRange as $page): ?>
            <? if ($page != $this->current): ?>
                <a href="<?= $url . $page ?>" class="paginate_button"><?= $page ?></a>&nbsp;
            <? else: ?>
                <a href="#" class="paginate_active"><?= $page ?></a>&nbsp;
            <? endif; ?>
        <? endforeach; ?>
        <? if (isset($this->next)): ?>
            <a href="<?= $url . $this->next ?>" class="next paginate_button">»</a>
        <? else: ?>
            <a href="#" class="next paginate_button paginate_button_disabled">»</a>
        <? endif; ?>
    </div>
<? endif; ?>