<style type="text/css">
    .table-filter {
        float: left;
    }
    .table-filter dl {
        margin: 0px;
        padding: 0px;
    }
    .table-filter dt {
        display: none;
    }
    .table-filter dd {
        float: left;
        margin: 0px 15px 0px 0px;
    }
</style>
<div class="widget">
    <div class="header">
        <span>
            <span class="ico gray spreadsheet"></span> <?= $this->tableName; ?>
        </span>
    </div><!-- End header -->   
    <div class="content" >
        <form action="" method="post" id="adminForm">
            <div class="tableName inTab">
                <div class="table-filter">
                    <?=$this->plugins['Filter']->render()?>
                </div>
                <?=$this->plugins['Toolbar']->render()?>
                <table class="display data_table1" id="toooooo1">
                    <thead>
                        <tr>
                            <? foreach($this->tableColumns as $column => $name): ?>
                                <th <?=$this->plugins['Align']->render($column)?>>
                                    <?=$name . $this->plugins['Sortable']->render($column)?>
                                </th>
                            <? endforeach; ?>
                            <th width="199">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <? $pagination = $this->plugins['Navigator']->render($this->dq); ?>
                        <? foreach($this->plugins['Navigator']->getData() as $data): ?>
                            <tr>
                                <? foreach($this->tableColumns as $column => $name): ?>
                                    <td <?=$this->plugins['Align']->render($column)?>>
                                        <?=$this->plugins['Format']->render($column, $data->$column)?>
                                    </td>
                                <? endforeach; ?>
                                <td><?=$this->plugins['Actions']->render($data)?></td>
                            </tr>
                        <? endforeach; ?>
                    </tbody>
                </table>
                <div class="dataTables_wrapper">
                    <?=$pagination;?>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    jQuery(function(){
        jQuery('.tableName .toolbar_buttons a').click(function(){
            if (jQuery(this).attr('rel') != 'isNull') {
                var countChecked = 0;
                var check = document.getElementsByName("ids[]");
                for (var i=0; i<check.length; i++) if (check[i].checked) countChecked++;
                if (countChecked < 1) {
                    alert('Необходимо выбрать хотя бы одно значение');
                    return false;
                }
                var action = $(this).attr('href');
                jQuery('#adminForm').attr({'action':action}).submit();
                return false;
            }
        });
    });    
</script>