<nav class="index">
    <ul class="menu">
    	<? foreach($this->container as $page): ?>
            <? if (!$page->isVisible()) continue;?>
            <? if (!empty($page->resource) && !empty($page->privilege) && !Zend_Registry::get('Acl')->isAllowed(usEngine_Acl_Plugin::getRole(), $page->resource, $page->privilege)) continue; ?>
            <li>
                <a class="<?=($page->isActive(true) ? 'active' : '')?>" href="<?=$page->getHref()?>" title="<?=$page->label?>">
                    <?=$page->label?>
                </a>
            </li>
        <? endforeach; ?>
    </ul>
</nav>
