<?php
$param = 'page';
$url = preg_replace('/(\?|&)' . $param . '=(\d+)/', '', $_SERVER['REQUEST_URI']);
$url .= preg_match('/\?/i', $url) ? '&' . $param . '=' : '?' . $param . '=';
?>
<? if ($this->pageCount > 1): ?>
    <div class="pagination">
        <? if (isset($this->previous)): ?>
            <a href="<?=$url . $this->previous?>" class="prev-button"><i class="icon-angle-left"></i></a>
        <? endif; ?>
        <? foreach ($this->pagesInRange as $page): ?>
            <? if ($page != $this->current): ?>
                <a href="<?=$url . $page ?>"><?=$page ?></a>
            <? else: ?>
                <a href="<?=$url . $page ?>" class="current"><?=$page?></a>
            <? endif; ?>
        <? endforeach; ?>
        <? if (isset($this->next)): ?>
            <a href="<?=$url . $this->next?>" class="next-button"><i class="icon-angle-right"></i></a>
        <? endif; ?>
    </div>
<? endif; ?>