<?php
$param = 'page';
$url = preg_replace('/(\?|&)' . $param . '=(\d+)/', '', $_SERVER['REQUEST_URI']);
$url .= preg_match('/\?/i', $url) ? '&' . $param . '=' : '?' . $param . '=';
?>
<? if ($this->pageCount > 1): ?>
    <div class="other_posts">
        <? if (isset($this->previous)): ?>
            <a href="<?=$url . $this->previous?>" class="prev">Предыдущая страница</a>
        <? endif; ?>
        <? if (isset($this->next)): ?>
            <a href="<?=$url . $this->next?>" class="next">Следующая страница</a>
        <? endif; ?>
    </div>
<? endif; ?>