<form action="" method="POST">
    <?=$this->toolbar($this->table)?>
    <table class="usTable">
        <?=$this->caption($this->table)?>
        <?=$this->thead($this->table)?>
        <?=$this->tbody($this->table)?>
        <?=$this->tfoot($this->table)?>
    </table>
</form>