<style>
.cat_slide  {
    overflow: hidden;
    width: 100%;
    height: 1610px;
    position: relative;
}    
.cat_slide >  ul {
    width: 1000%;
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0
}    
.cat_slide > ul > li {
    width: 260px;
    float: left;
    margin: 0 50px 0 0;
}    
.slide_nav h4 {
    display: inline-block;
    margin: 50px 6px 8px 6px;
    padding: 0 0 2px 0;
    border-bottom: 1px dashed transparent
}
.slide_nav h4:not(.active) {
    border-bottom: 1px dashed;
    cursor: pointer;
}
.slide_nav h4:not(.active):hover {
    border-bottom: 1px dashed transparent
}
</style>
<div class="left-column span3 ml-0 fl">
    <div class="slide_nav">
        <h4 class="block-title active" id="slide_nav_cat" style="float:left;">Категории</h4>
        <h4 class="block-title" id="slide_nav_brand" style="float:right;">Бренды</h4>
    </div>
    <div class="ruler"></div>
    <div class="cat_slide">
        <ul>
            <li>
                <?=$this->action('widget-categories', 'category', 'catalog')?>
            </li>
            <li> 
                <?=$this->action('widget-brands', 'brand', 'catalog')?>
            </li>
        </ul>
    </div>
</div>
<div class="span9 mt-10">
    <?=$this->action('widget-sort', 'category', 'catalog')?>
</div>
<div class="span9 fr">
    <? if(!empty($this->products)): ?>
        <div class="clearfix">
            <p class="product-item-number fl">
                <? $current_count = $this->products->getCurrentItemCount() ?>
                <? $total_count = $this->products->getTotalItemCount() ?>
                Показано <?=$current_count ?>  
                <?=$this->decl($current_count, array('товар', 'товара', 'товаров')) ?>
                <? if($total_count > $current_count): ?>из <?=$total_count ?><? endif; ?>
            </p>
            <?=$this->paginationControl($this->products, 'Sliding', 'category/paginator.phtml')?>
        </div>
        <? if($this->view === 'grid'): ?>
            <div class="products-grid clearfix row-fluid">
                <? foreach($this->products->getCurrentItems() as $product): ?>                
                    <div class="product fl">
                        <div class="product-preview">
                            <a href="<?=$this->baseUrl("/catalog/product/{$product->alias}")?>" title="<?=$product->title?>">
                                <img class="lazy" 
                                     src="/media/products/250x330/resize/default.png" 
                                     data-original="/media/products/250x330/resize/<?=$product->image?>" 
                                     alt="<?=$product->title?>">
                            </a>
                        </div>
                        <div class="product-info">
                            <h5>
                                <a href="<?=$this->baseUrl("/catalog/product/{$product->alias}")?>" title="<?=$product->title?>">
                                    <?=$product->title?>
                                </a>
                            </h5>
                            <h4 class="fl"><?=$product->price?> руб.</h4>
                            <div class="button-box fr">
                                <div class="add-basket">
                                    <a href="<?=$this->baseUrl("/catalog/basket/add/?product_id={$product->id}")?>"
                                        data-product_id="<?=$product->id?>"
                                        title="Добавить в корзину">
                                        <i class="icon-shopping-cart"></i>
                                        <span>В корзину</span>
                                    </a>
                                </div>
                                <? if(!Catalog_Model_FavoriteTable::getInstance()->exist($product->id)): ?>
                                    <div class="add-favorite">
                                        <a href="<?=$this->baseUrl("/catalog/favorite/add/?product_id={$product->id}")?>"
                                            data-product_id="<?=$product->id?>"
                                            title="Добавить в избранное">
                                            <i class="icon-heart"></i>
                                        </a>
                                    </div>
                                <? else: ?>
                                    <div class="delete-favorite">
                                        <a href="<?=$this->baseUrl("/catalog/favorite/delete/?product_id={$product->id}")?>"
                                        data-product_id="<?=$product->id?>"
                                        title="Убрать из избранного">
                                            <i class="icon-heart"></i>
                                        </a>
                                    </div>
                                <? endif; ?>
                            </div>
                        </div>
                    </div>
                <? endforeach; ?>
            </div>
        <? else: ?>
            <? foreach($this->products->getCurrentItems() as $product): ?>
                <div class="products-list clearfix row-fluid">
                    <div class="product fl">
                        <div class="product-list-preview">
                            <a href="<?=$this->baseUrl("/catalog/product/{$product->alias}")?>" title="<?=$product->title?>">
                                <img class="lazy" 
                                    src="/media/products/250x330/resize/default.png" 
                                    data-original="/media/products/250x330/resize/<?=$product->image?>" 
                                    alt="<?=$product->title?>">
                            </a>
                        </div>
                    </div>
                    <div class="products-list-info fl mb-40">
                        <h5>
                            <a href="<?=$this->baseUrl("/catalog/product/{$product->alias}")?>" title="<?=$product->title?>">
                                <?=$product->title?>
                            </a>
                        </h5>
                        <div class="fl">
                            <? if(!empty($product->description)): ?>
                                <p><?=$this->substring(trim(strip_tags($product->description)), 1000)?></p>
                            <? endif; ?>
                            <h4 class="fl" style="width:inherit"><?=$product->price?> руб.</h4>
                        </div>
                        <div class="clearfix"></div>
                        <div class="button-list-box fl">
                            <div><i class="icon-shopping-cart"></i><span>В корзину</span></div>
                            <? if(!Catalog_Model_FavoriteTable::getInstance()->exist($product->id)): ?>
                                <div class="add-favorite">
                                    <a href="<?=$this->baseUrl("/catalog/favorite/add/?product_id={$product->id}")?>"
                                        data-product_id="<?=$product->id?>"
                                        title="Добавить в избранное">
                                        <i class="icon-heart"></i>
                                    </a>
                                </div>
                            <? else: ?>
                                <div class="delete-favorite">
                                    <a href="<?=$this->baseUrl("/catalog/favorite/delete/?product_id={$product->id}")?>"
                                    data-product_id="<?=$product->id?>"
                                    title="Убрать из избранного">
                                        <i class="icon-heart"></i>
                                    </a>
                                </div>
                            <? endif; ?>
                        </div>
                    </div>
                </div>
            <? endforeach; ?>
        <? endif; ?>
        <div class="clearfix">
            <?=$this->paginationControl($this->products, 'Sliding', 'category/paginator.phtml')?>
        </div>
    <? endif; ?>
</div>
<script language="JavaScript">
    is_brand = 1;
</script>