<? if(count($this->brands) > 0) : ?>
    <ul class="categories">
        <? foreach($this->brands as $brand): ?>
            <li>
                <i class='icon-angle-right'></i>
                <a class="<?=($this->alias == $brand->alias ? 'active' : '')?>" href="/brand/<?=$brand->alias?>">
                    <?=$brand->title?>
                </a>
            </li>
        <? endforeach; ?>
    </ul>
<? endif;?>
