<h1>Здравствуйте, Администраторв!</h1>
<p>&nbsp;</p>
<h3>Пользователь заполнил форму обратной связи</h3>
<p>&nbsp;</p>
<p><strong>Имя</strong>: <?=$this->data['name']?></p>
<p><strong>E-mail</strong>: <?=$this->data['email']?></p>
<p><strong>Вопрос</strong>: <?=$this->data['text']?></p>
<p>&nbsp;</p>
<p>С Уважением, Администрация!</p>