<h1>Здравствуйте!</h1>
<h3>Вам необходимо подтвердить восстановление пароля на сайте</h3>
<p>&nbsp;</p>
<p>Для подтверждения восстановление пароля пройдите по ссылке:</p>
<p><a href="<?=$this->url?>"><?=$this->url?></a></p>
<p>&nbsp;</p>
<p>С Уважением, Администрация!</p>