<div class="widget">
	<?$a = $this->adminMenu->findOneBy('active', true);
	$title = isset($a) ? $a->getLabel() : '';?>
    <div class="header"><span><span class="ico gray add"></span><?=$title?></span></div>
    <div class="content">
        <?=$this->form?>
    </div>
</div>