<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 side">
        <?=$this->action('widget-categories', 'news', 'news')?>
        <?=$this->action('widget-seacrh', 'news', 'news')?>
        <?=$this->action('widget-archive', 'news', 'news')?>
        <?=$this->action('widget-tag-cloud', 'news', 'news')?>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 main">
        <div class="section">
            <? if (!empty($this->category)): ?>
                <h1 class="section-title"><?=$this->category->title?></h1>
            <? else: ?>
                <h1 class="section-title">Новости</h1>
            <? endif; ?>
            <div class="section-body">
                <? if(count($this->paginator->getCurrentItems()) > 0): ?>
                    <div id="product-area" class="section offer products-container portrait product-list">
                        <div class="row">
                            <? foreach($this->paginator->getCurrentItems() as $i => $news): ?>
                                <div class="mix col-xs-12 col-sm-6 col-lg-4 mix_all" style="display:block;opacity:1">
                                    <div class="product">
                                        <a href="/news/<?=$news->alias?>" class="product-link clearfix">
                                            <div class="product-thumbnail">
                                                <img src="/media/news/list_<?=$news->image?>" alt="<?=$this->escape($news->title)?>">
                                            </div>
                                        </a>
                                        <div class="product-info clearfix">
                                            <h4 class="title">
                                                <a href="/news/<?=$news->alias?>" title="<?=$this->escape($news->title)?>">
                                                    <?=$news->title?>
                                                </a>
                                            </h4>
                                            <div class="description">
                                                <div class="text">
                                                    <p><?=$this->substring($news->text, 1000)?></p>
                                                </div>
                                                <ul class="links">
                                                    <li><a href="/news/<?=$news->alias?>" title="Читать далее">Читать далее</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <? endforeach; ?>
                        </div>
                    </div>
                <? endif; ?>
            </div>
        </div>
    </div>
</div>