<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 side">
        <?=$this->action('widget-categories', 'news', 'news')?>
        <?=$this->action('widget-seacrh', 'news', 'news')?>
        <?=$this->action('widget-archive', 'news', 'news')?>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 main">
        <div class="section">
            <? if (!empty($this->news)): ?>
                <h1 class="section-title"><?=$this->news->title?></h1>
                <div class="section-body">
                    <p>
                        Автор: <?=$this->news->authorNews?> | 
                        Время публикации: <?=$this->news->publishDate?>
                    </p>
                    <?=$this->news->text?>
                    <?=$this->partial('news/widget-source.phtml', array('news' => $this->news))?>
                    <?=$this->partial('news/widget-tags.phtml', array('news' => $this->news))?>
                    <div class="social-media" style="margin:10px 0 0 0">
                        <?=$this->option('setting.index.code_like')?>
                    </div>
                </div>
            <? endif; ?>
        </div>
        <?=$this->action('widget-list', 'comment', 'comment', array('type' => 'news', 'content_id' => $this->news->id))?>
        <?=$this->action('widget-form', 'comment', 'comment', array('type' => 'news', 'content_id' => $this->news->id))?>
        <?=$this->action('widget-commented', 'news', 'news', array('news' => $this->news))?>
        <?=$this->action('widget-related', 'news', 'news', array('news' => $this->news))?>
        <?=$this->action('widget-last', 'news', 'news', array('news' => $this->news))?>
        <?=$this->action('widget-popular', 'news', 'news', array('news' => $this->news))?>
        <?=$this->action('widget-viewed', 'news', 'news', array('news' => $this->news))?>
    </div>
</div>