<? if (count($this->news) > 0): ?>
    <div class="row">
        <div class="section products-container portrait product-grid">
            <h3 class="section-title">Последние новости</h3>
            <? foreach($this->news as $news): ?>
                <div class="mix col-xs-12 col-sm-6 col-lg-4 mix_all">
                    <div class="product">
                        <a href="/news/<?=$news->alias?>" class="product-link clearfix" title="<?=$this->escape($news->title)?>">
                            <div class="product-thumbnail">
                                <img src="/media/news/list_<?=$news->image?>" alt="<?=$this->escape($news->title)?>">
                            </div>
                        </a>
                        <div class="product-info clearfix" style="height:60px;overflow:hidden">
                            <h4 class="title">
                                <a href="/news/<?=$news->alias?>" title="<?=$this->escape($news->title)?>">
                                    <?=$news->title?>
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            <? endforeach; ?>
        </div>
    </div>
<? endif; ?>