<? if($this->news->tags && count($this->news->tags) > 0): ?>
    <p>
        Теги: 
        <? foreach($this->news->tags as $i => $tag): ?>
            <a href="/news/tag/<?=$tag->title?>" title="<?=$this->escape($tag->title)?>">
                <?=$tag->title?>
            </a>
            <?=($i >= count($this->news->tags) - 1) ? '' : ', '?>
        <? endforeach;?>
    </p>
<? endif; ?>