<div class="section category-list">
    <h4 class="section-title">Поиск</h4>
    <div class="section-body" style="position:relative">
        <?=$this->form?>
        <button class="btn-search" form="search"><i class="icon-search"></i></button>
    </div>
</div>