<? if(count($this->categories) > 0): ?>
    <div class="section category-list">
        <h4 class="section-title">Категории</h4>
        <div class="section-body">
            <ul class="unstyled pretty-list">
                <? foreach($this->categories as $category): ?>
                    <li>
                        <a href="/news/category/<?=$category->alias?>" title="<?=$this->escape($category->title)?>">
                            <?=$category->title?>
                        </a>
                    </li>
                <? endforeach;?>
            </ul>
        </div>
    </div>
<? endif; ?>