<? if(!empty($this->news->source_name)): ?>
    <p>
        Источник: 
        <? if(!empty($this->news->source_url)): ?>
            <a href="/redirect/<?=base64_encode($this->news->source_url)?>" title="<?=$this->escape($this->news->source_name)?>" target="_blank" rel="nofollow">
                <?=$this->news->source_name?>
            </a>
        <? else: ?>
            <?=$this->news->source_name?>
        <? endif; ?>
    </p>
<? endif; ?>