<? if(!empty($this->cloud)): ?>
    <div class="section category-list">
        <h4 class="section-title">Облако тегов</h4>
        <div class="section-body">
            <?=$this->cloud?>
        </div>
    </div>
<? endif; ?>