<link href="/css/admin/usTable.css" media="screen" rel="stylesheet" type="text/css">
<table class="usTable">
    <caption>Заказ № <?=$this->order->id?></caption>      
    <tbody>
        <tr>
            <td><strong>Статус</strong></td>
            <td><?=Catalog_AdminOrderController::formatStatus($this->order, 'status')?></td>
        </tr>
        <tr>
            <td><strong>Дата создания</strong></td>
            <td><?=$this->dateFormat($this->order->created)?></td>
        </tr>
        <? if(!empty($this->order->name)): ?>
            <tr>
                <td><strong>Имя</strong></td>
                <td><?=$this->order->name?></td>
            </tr>
        <? endif; ?>
        <? if(!empty($this->order->phone)): ?>
            <tr>
                <td><strong>Телефон</strong></td>
                <td><a href="tel:<?=$this->order->phone?>" target="_blank"><?=$this->order->phone?></a></td>
            </tr>
        <? endif; ?>
        <? if(!empty($this->order->email)): ?>
            <tr>
                <td><strong>E-mail</strong></td>
                <td><a href="mailto:<?=$this->order->email?>" target="_blank"><?=$this->order->email?></a></td>
            </tr>
        <? endif; ?>
        <tr>
            <td><strong>Адрес</strong></td>
            <td>
                <? if(!empty($this->order->zip)): ?>
                    <?=$this->order->zip?>, 
                <? endif; ?>
                <? if(!empty($this->order->region)): ?>
                    <?=$this->order->region?>, 
                <? endif; ?>
                <? if(!empty($this->order->city)): ?>
                    <?=$this->order->city?>, 
                <? endif; ?>
                <? if(!empty($this->order->address)): ?>
                    <?=$this->order->address?>
                <? endif; ?>
            </td>
        </tr>
        <? if(!empty($this->order->comment)): ?>
            <tr>
                <td><strong>Комментарий к заказу</strong></td>
                <td><?=$this->order->comment?></td>
            </tr>
        <? endif; ?>
        <? if(!empty($this->order->kupon_code)): ?>
            <tr>
                <td><strong>Код купона</strong></td>
                <td><?=$this->order->kupon_code?></td>
            </tr>
        <? endif; ?>
        <? if(!empty($this->order->delivery_method)): ?>
            <tr>
                <td><strong>Способ доставки</strong></td>
                <td><?=$this->order->delivery_method?></td>
            </tr>
        <? endif; ?>
        <? $total = 0; ?>
        <? if(!empty($this->order->price) && $this->order->price > 0): ?>
            <tr>
                <td><strong>Стоимость заказа</strong></td>
                <td><?=$this->price($this->order->price)?> руб.</td>
            </tr>
            <? $total += $this->order->price ?>
        <? endif; ?>
        <? if(!empty($this->order->delivery) && $this->order->delivery > 0): ?>
            <tr>
                <td><strong>Стоимость доставки</strong></td>
                <td><?=$this->price($this->order->delivery)?> руб.</td>
            </tr>
            <? $total += $this->order->delivery ?>
        <? endif; ?>
        <? if(!empty($this->order->discount) && $this->order->discount > 0): ?>
            <tr>
                <td><strong>Скидка</strong></td>
                <td><?=$this->price($this->order->discount)?> руб.</td>
            </tr>
            <? $total -= $this->order->discount ?>
        <? endif; ?>
        <tr>
            <td><strong>Итоговая стоимость</strong></td>
            <td><?=$this->price($total)?> руб.</td>
        </tr>
    </tbody>    
</table>

<?=$this->grid->render()?>

<div class="widget">
    <div class="header"><span><span class="ico gray add"></span>Изменить статус заказа</span></div>
    <div class="content">
        <?=$this->form?>
    </div>
</div>

<?/*// var_dump($this->order);die("dump \$this->order");?>
<div id="order-container">
    <div class="title">
        Заказ № <?=$this->order['id']?>
    </div>
    <div class="<?=$this->status_class?>">
        <?=$this->status_message?>
    </div>
    <table class="display data_table1">
        <thead>
            <tr>
                <th><div class="number">№</div></th>
                <th><div class="name">Наименование</div></th>
                <th><div class="price">Цена</div></th>
                <th><div class="count">Количество</div></th>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->order['items'] as $index => $item) : ?>
                <tr class="item">
                    <td class="number"><?=$index?></td>
                    <td class="name"><?=$item['title']?></td>
                    <td class="price"><?=$item['price']?></td>
                    <td class="count"><?=$item['amount']?></td>
                </tr>
            <? endforeach; ?>
        </tbody>
    </table>
    <div class="summ">Заказ на сумму <?=$this->order['summ']?> рублей</div>
    <form class="controlls" action="/catalog/admin-order/inprogress" method="post">
        <input id="orderid" name="orderid" type="hidden" value="<?=$this->order['id']?>"/>
        <input id="accept" class="uibutton" type="submit" value="Принять заказ" name="accept" />
        <input id="complite" class="uibutton confirm" type="submit" value="Закрыть" name="complite"/>
        <input id="delete" class="uibutton special" type="submit" value="Удалить" name="delete"/>
    </form>
</div>
 * 
 */?>