<? if(count($this->slides) > 0): ?>
    <div id="top-slider" class="flexslider-container">
        <div class="flexslider" id="slider_<?=$this->position->id?>">
            <ul class="slides">
                <? foreach($this->slides as $slide) : ?>
                    <li>
                        <img src="<?=$slide->image?>" alt="<?=$this->escape($slide->title)?>" />
                    </li>
                <? endforeach; ?>
            </ul>
        </div>
    </div>
    <script>
        <?=$this->javascript?>
    </script>
<? endif; ?>