<div id="site-footer">
    <div class="footer-widgets alt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="widget widget-text">
                        <h4 class="widget-title">О нашей компании</h4>
                        <div class="widget-body">
                            <p>Предложения товаров представленные на сайте не являются публичной офертой.</p>
                            <p>Продавцами товаров являются зарубежные интернет-магазины и частные лица.</p>
                            <p>Покупка представленных товаров за рубежом и пересылка по адресу заказчика осуществляется сервисом ShopoTam.ru на условиях договора комиссии.</p>
                        </div>
                    </div>
                    <div class="space40 hidden-lg"></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="widget widget-contact">
                        <h4 class="widget-title">Наши контакты</h4>
                        <div class="widget-body iconlist">
                            <div class="media">
                                <div class="pull-left">
                                    <i class="icon-location"></i>
                                </div>
                                <div class="media-body">
                                    <p>Амурская область, г.Благовещенск<br/>ул.Забурхановская 102, офис 502</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="media-body">
                                    <p>8 (4162) 218-718<br/>8 (4162) 218-717</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="icon-email"></i>
                                </div>
                                <div class="media-body">
                                    <p>
                                        <a href="mailto:zakaz@taobao.ru.com" target="_blank">zakaz@taobao.ru.com</a>
                                        <br/>
                                        <a href="mailto:opt@taobao.ru.com" target="_blank">opt@taobao.ru.com</a>
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <i class="icon-skype-2"></i>
                                </div>
                                <div class="media-body">
                                    <p>
                                        <a href="skype:t-b.ru.com?call" target="_blank">t-b.ru.com</a>
                                        <br/>
                                        <a href="skype:t-b.ru.com?call" target="_blank">opt-taobao.ru.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space40 hidden-lg"></div>
                </div>
                <div class="col-xs-12 col-sm-12 hidden-lg"></div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="widget widget-twitter">
                        <h4 class="widget-title">Наша группа Вконтакте</h4>
                        <div class="widget-body">
                            <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
                            <div id="vk_groups"></div>
                            <script type="text/javascript">
                            VK.Widgets.Group("vk_groups", {mode: 0, width: "260", height: "260", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 54309897);
                            </script>
                        </div>
                    </div>
                    <div class="space40 hidden-lg"></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="widget widget-facebook">
                        <h4 class="widget-title">Наша группа в Одноклассниках</h4>
                        <div class="widget-body">
                            <div id="ok_group_widget"></div>
                            <script>
                            !function (d, id, did, st) {
                              var js = d.createElement("script");
                              js.src = "http://connect.ok.ru/connect.js";
                              js.onload = js.onreadystatechange = function () {
                              if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                                if (!this.executed) {
                                  this.executed = true;
                                  setTimeout(function () {
                                    OK.CONNECT.insertGroupWidget(id,did,st);
                                  }, 0);
                                }
                              }}
                              d.documentElement.appendChild(js);
                            }(document,"ok_group_widget","50582132228315","{width:260,height:280}");
                            </script>
                        </div>
                    </div>
                    <div class="space40 hidden-lg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widgets main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-4">
                    <div class="widget widget-subscribe">
                        <div class="widget-body">
                            <p>
                                Наша компания на протяжении своей деятельности выстраивает 
                                качественные отношения с интернет-магазинами Китая. 
                                В порядочности нашей компании удостоверились более 
                                полумиллиона человек по всей России.<br/><br/>
                            </p>
                            <div class="clearfix"></div>
                            <h4 class="widget-title">Принимаем к оплате</h4>
                            <ul class="credit-cards">
                                <li><a href="#" title="visa card"><img src="/images/site/visacard.png" alt="Visa Card" /></a></li>
                                <li><a href="#" title="master card"><img src="/images/site/mastercard.png" alt="Master Card" /></a></li>
                                <li><a href="#" title="JCB"><img src="/images/site/jcb.png" alt="JCB" /></a></li>
                                <li><a href="#" title="diner's club"><img src="/images/site/dinerclub.png" alt="Diner's Club" /></a></li>
                                <li><a href="#" title="paypal"><img src="/images/site/paypal.png" alt="PayPal" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="space40 hidden-lg"></div>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <div class="widget widget-linklist">
                        <div class="widget-body">
                            <h4 class="widget-title">Меню сайта</h4>
                            <ul>
                                <li><a href="/">› Главная</a></li>
                                <li><a href="/catalog">› Каталог</a></li>
                                <li><a href="/brands">› Бренды</a></li>
                                <li><a href="/page/oplata-i-dostavka">› Оплата и доставка</a></li>
                                <li><a href="/news">› Новости</a></li>
                                <li><a href="/contacts">› Наши контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <div class="widget widget-linklist">
                        <div class="widget-body">
                            <h4 class="widget-title">Наши партнеры</h4>
                            <ul>
                                <li><a href="http://amur.net">› Amurnet</a></li>
                                <li><a href="http://ekstaz28.ru">› Ekstaz</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="space40 col-xs-12 col-sm-12 visible-xs"></div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <div class="widget widget-linklist">
                        <div class="widget-body">
                            <h4 class="widget-title">Каталог товаров</h4>
                            <ul>
                                <li><a href="/catalog/category/pechatnaya-produktsiya">› Печатная продукция</a></li>
                                <li><a href="/catalog/category/preparatyi-i-kosmetka">› Препараты и косметка</a></li>
                                <li><a href="/catalog/category/sado-mazo-i-fetish">› Садо-Мазо и Фетиш</a></li>
                                <li><a href="/catalog/category/seks-igrushki">› Секс игрушки</a></li>
                                <li><a href="/catalog/category/straponyi">› Страпоны</a></li>
                                <li><a href="/catalog/category/suveniryi">› Сувениры</a></li>
                                <li><a href="/catalog/category/eroticheskoe-bele">› Эротическое белье</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <div class="widget widget-linklist">
                        <div class="widget-body">
                            <h4 class="widget-title">Последние новости</h4>
                            <ul>
                                <li><a href="/news" title="Новости">› Новости</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 copyright center-sm">
                    &copy; Taoland.ru 2011-2014. 
                    Все права защищены. 
                    Создание сайта <a href="http://amur.net" target="_blank">Amur.net</a>
                </div>
                <div class="col-xs-12 space10 visible-xs"></div>
                <div class="col-xs-12 col-sm-6 text-right center-sm"></div>
            </div>
        </div>
    </div>
</div>