<div id="site-header">
    <div id="site-header-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 top-links center-sm">
                    <?=$this->navigation()->menu($this->userMenu)->setUlClass('menu')?>
                </div>
                <div class="col-xs-12 col-sm-6 header-social-icons center-sm">
                    <div class="social-media" style="margin:14px 0">
                        <?=$this->option('setting.index.code_like')?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 logo-container">
                    <strong class="logo animated fadeInRight">
                        <? if($this->isMain === false): ?>
                            <a href="<?=$this->serverUrl()?>" title="<?=$this->escape($this->site_name)?>">
                                <img src="<?=$this->logotype?>" alt="<?=$this->escape($this->site_name)?>" />
                            </a>
                        <? else: ?>
                            <img src="<?=$this->logotype?>" alt="<?=$this->escape($this->site_name)?>">
                        <? endif; ?>
                    </strong>
                </div>
                <?=$this->action('widget-header', 'basket', 'catalog')?>
            </div>
        </div>
    </div>
    <div id="site-menu">
        <div class="container">
            <div class="inner">
                <?=$this->navigation()->menu($this->headerMenu)->setMinDepth(1)->setUlClass('main-menu menu visible-lg')?>
                <div class="mobile-menu hidden-lg">
                    <div id="dl-menu" class="dl-menuwrapper">
                        <button class="dl-trigger"><i class="icon-reorder"></i></button>
                        <ul class="dl-menu">
                            <li class="active">
                                <a href="javsacript:void(0);"><i class="icon-home"></i></a>
                                <ul class="dl-submenu">
                                    <li><a href="index.php?slider=nivo">Homepage - Nivoslider</a></li>
                                    <li><a href="index.php?slider=flex">Homepage - Flexslider</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Pages</a>
                                <ul class="dl-submenu">
                                    <li>
                                        <a href="javsacript:void(0);">Products</a>

                                        <ul class="dl-submenu">
                                            <li><a href="product.php?mode=grid">Grid layout</a></li>
                                            <li><a href="product.php?mode=list">List layout</a></li>
                                            <li><a href="single.php">Product details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="cart.php">Shopping cart</a></li>
                                    <li><a href="checkout.php">Checkout</a></li>
                                    <li><a href="contact.php">Contact us</a></li>
                                    <li><a href="index.php?slider=nivo">Homepage - Nivoslider</a></li>
                                    <li><a href="index.php?slider=flex">Homepage - Flexslider</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javsacript:void(0);">men</a>
                                <ul class="dl-submenu">
                                    <li><a href="product.php?mode=list">Belt</a></li>
                                    <li><a href="product.php?mode=grid">Sweatshirts</a></li>
                                </ul>
                            </li>
                            <li><a href="product.php">women</a></li>
                            <li><a href="product.php">fashion</a></li>
                            <li><a href="product.php">brands</a></li>
                            <li><a href="product.php">gift</a></li>
                            <li><a href="contact.php">contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search-box">
                    <form id="header_search" method="GET" action="/catalog/search">
                        <input type="text" name="query" class="query" placeholder="Поиск товаров" />
                        <button class="btn-search" form="header_search"><i class="icon-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>