<div class="alert mt-10<?= isset($this->type) ? " {$this->type}" : '' ?>">
    <strong><?= $this->title ?></strong>
    <?= $this->message ?>
    <button type="button" class="close" data-dismiss="alert">×</button>
</div>
