<? 
$url = $_SERVER['REQUEST_URI'];
$urls = explode('?', $_SERVER['REQUEST_URI']);
if (count($urls) > 1) list($url, $params) = $urls;
?>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 side">
        <?=$this->action('widget-categories', 'category', 'catalog')?>
        <?=$this->action('widget-seacrh', 'product', 'catalog')?>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 main">
        <div class="section">
            <h1 class="section-title">Каталог товар</h1>
            <div class="section-body">
                <div class="inner-action-bar-filter">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 center-sm">
                                <div class="filtersgroup">
                                    <div class="limit"><span>Показывать по:</span>
                                        <select onchange="location = this.value;">
                                            <option value="<?=$url?>?limit=15" <?=($this->limit == 15) ? 'selected' : ''?>>15</option>
                                            <option value="<?=$url?>?limit=30" <?=($this->limit == 30) ? 'selected' : ''?>>30</option>
                                            <option value="<?=$url?>?limit=45" <?=($this->limit == 45) ? 'selected' : ''?>>45</option>
                                        </select>
                                    </div>
                                    <div class="sort active"><span>Сортировать по:</span>
                                        <select onchange="location = this.value;">
                                            <option value="<?=$url?>?order=created&dir=DESC"    <?=($this->order == 'created' && $this->dir == 'DESC') ? 'selected' : ''?>>Дате</option>
                                            <option value="<?=$url?>?order=title&dir=ASC"       <?=($this->order == 'title' && $this->dir == 'ASC') ? 'selected' : ''?>>Названию (А-Я)</option>
                                            <option value="<?=$url?>?order=title&dir=DESC"      <?=($this->order == 'title' && $this->dir == 'DESC') ? 'selected' : ''?>>Названию (Я-А)</option>
                                            <option value="<?=$url?>?order=price&dir=DESC"      <?=($this->order == 'price' && $this->dir == 'DESC') ? 'selected' : ''?>>Цене ( > )</option>
                                            <option value="<?=$url?>?order=price&dir=ASC"       <?=($this->order == 'price' && $this->dir == 'ASC') ? 'selected' : ''?>>Цене ( < )</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 space20 visible-xs"></div>
                            <div class="col-xs-12 col-sm-4 center-sm">
                                <div class="display-mode">
                                    <ul class="unstyled float-right">
                                        <li class="<?=$this->mode === 'grid' ? 'active' : ''?>">
                                            <a href="?mode=grid" id="grid-mode">
                                                <span class="icon-grid9"></span>
                                                Таблица
                                            </a>
                                        </li>
                                        <li class="<?=$this->mode === 'list' ? 'active' : ''?>">
                                            <a href="?mode=list" id="list-mode">
                                                <span class="icon-list"></span>
                                                Список
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <? if(count($this->paginator->getCurrentItems()) > 0): ?>
                    <div id="product-area" class="section offer products-container portrait product-<?=$this->mode?>" data-layout="grid">
                        <div class="row">
                            <? foreach($this->paginator->getCurrentItems() as $i => $product): ?>
                                <div class="mix col-xs-12 col-sm-6 col-lg-4 mix_all" style="display:inline-block;opacity:1">
                                    <div class="product">
                                        <a href="/catalog/product/<?=$product->alias?>" class="product-link clearfix" title="<?=$this->escape($product->title)?>">
                                            <div class="product-thumbnail">
                                                <img src="/media/products/list_<?=$product->image?>" alt="<?=$this->escape($product->title)?>">
                                                <div class="caption bottom-left">
                                                    <?=$product->currentPrice?> руб.
                                                </div>
                                                <? if($product->discountPrice): ?>
                                                    <div class="caption top-right">- <?=$product->discountPrice?></div>
                                                <? endif; ?>
                                            </div>
                                        </a>
                                        <div class="product-info clearfix">
                                            <h4 class="title">
                                                <a href="/catalog/product/<?=$product->alias?>" title="<?=$this->escape($product->title)?>">
                                                    <?=$product->title?>
                                                </a>
                                            </h4>
                                            <div class="description">
                                                <div class="prices">
                                                    <span class="off-price">
                                                        <?=$product->currentPrice?> руб.
                                                    </span>
                                                    <? if($product->originalPrice): ?>
                                                        <s class="orginal-price">
                                                            <?=$product->originalPrice?> руб.
                                                        </s>
                                                    <? endif; ?>
                                                </div>
                                                <div class="text">
                                                    <p><?=$this->substring($product->description, 600)?></p>
                                                </div>
                                                <div class="add-to-cart">
                                                    <a href="/basket/add/<?=$product->id?>" title="Добавить в корзину" class="btn btn-primary btn-iconed">
                                                        <i class="icon-shopcart"></i>
                                                        <span>Добавить в корзину</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <? if(!empty($product->brand_id)): ?>
                                                    <p>
                                                        Производитель: 
                                                        <a href="/catalog/brand/<?=$product->Brand->alias?>">
                                                            <?=$product->Brand->title?>
                                                        </a>
                                                    </p>
                                                    <p class="by">&nbsp;</p>
                                                <? else: ?>
                                                    <p></p>
                                                    <p class="by">&nbsp;</p>
                                                <? endif; ?>
                                            </div>
                                            <a href="/basket/add/<?=$product->id?>" title="Добавить товар в корзину" class="add-to-cart">
                                                <span class="icon-shopcart"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <? endforeach; ?>
                        </div>
                    </div>
                <? endif; ?>
            </div>
        </div>
    </div>
</div>