<?php
$param = 'page';
$url = preg_replace('/(\?|&)' . $param . '=(\d+)/', '', $_SERVER['REQUEST_URI']);
$url .= preg_match('/\?/i', $url) ? '&' . $param . '=' : '?' . $param . '=';
?>
<? if ($this->pageCount > 1): ?>
    <nav>
        <ul>
            <li>
                <? if (isset($this->previous)): ?>
                    <a href="<?=$url . $this->previous?>" class="previous">«</a>
                <? else: ?>
                    <span class="previous">«</span>
                <? endif; ?>
            </li>
            <? foreach ($this->pagesInRange as $page): ?>
                <li>
                    <? if ($page != $this->current): ?>
                        <a href="<?=$url . $page?>"><?=$page?></a>
                    <? else: ?>
                        <span><?=$page?></span>
                    <? endif; ?>
                </li> 
            <? endforeach; ?>
            <li>
                <? if (isset($this->next)): ?>
                    <a href="<?=$url . $this->next?>" class="next">»</a>
                <? else: ?>
                    <span class="next">»</span>
                <? endif; ?>
            </li>
        </ul>
    </nav>
<? endif; ?>