<? if(count($this->parthners) > 0): ?>
    <div class="section with-carousel">
        <div class="container">
            <div class="row carousel-container clients">
                <div class="col-xs-12 col-sm-12">
                    <h4 class="section-title">Наши партнеры</h4>
                    <div class="section-body">
                        <? if(count($this->parthners) > 4): ?>
                            <div class="control-direction">
                                <ul class="direction-nav carousel-direction">
                                    <li>
                                        <a class="carousel-prev btn" href="javascript::void(0);">
                                            <span class="icon-arrow_left"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="carousel-next btn" href="javascript::void(0);">
                                            <span class="icon-arrow_right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        <? endif; ?>
                        <div class="carousel-wrapper row" data-minitems="1" data-maxitems="4" data-loop="false" data-autoplay="false" data-slideshow-speed="2000" data-speed="300">
                            <ul class="clients-list carousel-list landscape animated" data-animation="fadeInUp">
                                <? foreach($this->parthners as $parthner): ?>
                                    <li>
                                        <div class="item">
                                            <? if(!empty($parthner->link)): ?>
                                                <a href="<?=$parthner->link?>" title="<?=$this->escape($parthner->title)?>" target="_blank" rel="nofollow">
                                                    <img src="/media/parthners/list_<?=$parthner->image?>" alt="<?=$this->escape($parthner->title)?>" />
                                                </a>
                                            <? else: ?>
                                                <img src="/media/parthners/list_<?=$parthner->image?>" alt="<?=$this->escape($parthner->title)?>" />
                                            <? endif; ?>
                                        </div>
                                    </li>
                                <? endforeach; ?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<? endif; ?>