<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 side">
        <?=$this->action('widget-categories', 'category', 'catalog')?>
        <?=$this->action('widget-seacrh', 'product', 'catalog')?>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 main">
        <div class="section product-single">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="product-album">
                        <? if(count($this->product->images) > 0): ?>
                            <? $title = $this->escape($this->product->title)?>
                            <a href="javascript:void(0);" class="jq-zoom" title="<?=$title?>">
                                <img src="/media/products/<?=$this->product->images[0]->image?>" alt="<?=$title?>" />
                            </a>
                            <? if(count($this->product->images) > 1): ?>
                                <ul class="unstyled">
                                    <? for($i = 1; $i < count($this->product->images); $i++): ?>
                                        <? $image = $this->product->images[$i]?>
                                        <li>
                                            <a href="javascript:void(0);" title="<?=$title?>">
                                                <img src="/media/products/<?=$image->image?>" alt="<?=$title?>" />
                                            </a>
                                        </li>
                                    <? endfor; ?>
                                </ul>
                            <? endif; ?>
                        <? endif; ?>
                    </div>  
                </div>
                <div class="col-xs-8 col-sm-8">
                    <div class="product-info clearfix">
                        <h1 class="title">
                            <?=$this->product->title?>
                        </h1>
                        <div class="description">
                            <div class="prices">
                                <span class="off-price">
                                    <?=$this->product->currentPrice?> руб.
                                </span>
                                <? if(!empty($this->product->originalPrice)): ?>
                                    <s class="orginal-price">
                                        <?=$this->product->originalPrice?> руб.
                                    </s>
                                <? endif; ?>
                            </div>
                            <div class="text">
                                <p>Есть в наличие!</p>
                                <?=$this->product->description?>
                            </div>
                            <div class="qty">
                                <label for="qty-input">Количество:</label>
                                <input type="text" id="qty-input" value="1">
                                <div class="space30 clearfix"></div>
                            </div>
                            <div class="add-to-cart">
                                <a href="/basket/add/<?=$this->product->id?>" title="Добавить в корзину" class="btn btn-primary btn-iconed">
                                    <i class="icon-shopcart"></i>
                                    <span>Добавить в корзину</span>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="social-media" style="margin:10px 0 0 0">
                                <?=$this->option('setting.index.code_like')?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?=$this->action('widget-list', 'comment', 'comment', array('type' => 'product', 'content_id' => $this->product->id))?>
        <?=$this->action('widget-form', 'comment', 'comment', array('type' => 'product', 'content_id' => $this->product->id))?>
        <?=$this->action('widget-commented', 'product', 'catalog', array('product' => $this->product))?>
        <?=$this->action('widget-related', 'product', 'catalog', array('product' => $this->product))?>
        <?=$this->action('widget-last', 'product', 'catalog', array('product' => $this->product))?>
        <?=$this->action('widget-popular', 'product', 'catalog', array('product' => $this->product))?>
        <?=$this->action('widget-viewed', 'product', 'catalog', array('product' => $this->product))?>
        <?=$this->action('widget-discounted', 'product', 'catalog', array('product' => $this->product))?>
    </div>
</div>