<? if (count($this->products) > 0): ?>
    <div class="section">
        <div class="container">
            <div class="offer row products-container portrait product-grid">
                <div class="col-xs-12 col-sm-12">
                    <h3 class="section-title">Недавно просматриваемые товары</h3>
                    <div class="section-body">
                        <div class="row">
                            <? foreach($this->products as $product): ?>
                                <div class="mix col-xs-12 col-sm-6 col-lg-4 mix_all" style="display:inline-block;opacity:1">
                                    <div class="product">
                                        <a href="/catalog/product/<?=$product->alias?>" class="product-link clearfix" title="<?=$this->escape($product->title)?>">
                                            <div class="product-thumbnail">
                                                <img src="/media/products/list_<?=$product->image?>" alt="<?=$this->escape($product->title)?>">
                                                <div class="caption bottom-left">
                                                    <?=$product->currentPrice?> руб.
                                                </div>
                                                <? if($product->discountPrice): ?>
                                                    <div class="caption top-right">- <?=$product->discountPrice?></div>
                                                <? endif; ?>
                                            </div>
                                        </a>
                                        <div class="product-info clearfix">
                                            <h4 class="title">
                                                <a href="/catalog/product/<?=$product->alias?>" title="<?=$this->escape($product->title)?>">
                                                    <?=$product->title?>
                                                </a>
                                            </h4>
                                            <div class="description">
                                                <div class="prices">
                                                    <span class="off-price">
                                                        <?=$product->currentPrice?> руб. - 
                                                    </span>
                                                    <? if(!empty($product->originalPrice)): ?>
                                                        <s class="orginal-price">
                                                            <?=$product->originalPrice?> руб.
                                                        </s>
                                                    <? endif; ?>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <? if(!empty($product->brand_id)): ?>
                                                    <p>
                                                        Производитель: 
                                                        <a href="/catalog/brand/<?=$product->Brand->alias?>">
                                                            <?=$product->Brand->title?>
                                                        </a>
                                                    </p>
                                                    <p class="by">&nbsp;</p>
                                                <? else: ?>
                                                    <p></p>
                                                    <p class="by">&nbsp;</p>
                                                <? endif; ?>
                                            </div>
                                            <a href="/basket/add/<?=$product->id?>" title="Добавить товар в корзину" class="add-to-cart">
                                                <span class="icon-shopcart"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <? endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<? endif; ?>