<? if (count($this->products) > 0): ?>
    <div class="section">
        <h3 class="section-title">Товары со скидками</h3>
        <div class="products-container portrait featured">
            <? foreach($this->products as $product): ?>
                <div class="product">
                    <a href="/catalog/product/<?=$product->alias?>" class="product-link clearfix" title="<?=$this->escape($product->title)?>">
                        <div class="ribbon new"></div>
                        <div class="product-thumbnail">
                            <img src="/media/products/list_<?=$product->image?>" alt="<?=$this->escape($product->title)?>">
                            <div class="caption">- <?=$product->discountPrice?></div>
                        </div>
                        <div class="product-info clearfix">
                            <h3 class="title"><?=$product->title?></h3>
                        </div>
                    </a>
                </div>
            <? endforeach; ?>
        </div>
    </div>
<? endif; ?>