<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="section">
            <h1 class="section-title">Восстановление пароля</h1>
            <?=$this->form?>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="section">
            <div class="space50"></div>
            <p>Для восстановления пароль Вам необходимо указать адрес электронной почты используемый при регистрации.</p>
            <p>После отправки формы вам на почту придет письмо с инструкцией по восстановлению пароля.</p>
        </div>
    </div>
</div>