<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="section">
            <h1 class="section-title">Подтверждение регистрации</h1>
            <p>Уважаемый пользователь!</p>
            <p>На электронную почту, указанную вами при регистрации, было выслано письмо с инструкцией по подтверждению регистрации на сайте.</p>
        </div>
    </div>
</div>