<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="section">
            <h1 class="section-title">Регистрация</h1>
            <?=$this->form?>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="section">
            <div class="space50"></div>
            <p>Для регистрации Вам необходимо указать никнейм, адрес электронной почты и придумать пароль.</p>
            <p>После отправки формы вам на почту придет письмо с подтверждением адреса электронной почты.</p>
        </div>
    </div>
</div>