<? if (!empty($this->paginator) && count($this->paginator->getCurrentItems()) > 0): ?>
    <div class="section">
        <h3 class="section-title">Комментарии</h3>
        <? foreach($this->paginator->getCurrentItems() as $comment): ?>
            <div class="mix col-xs-12 col-sm-12 col-lg-12 mix_all">
                <p><strong><?=$comment->name?></strong>, <time><?=$this->dateFormat($comment->created)?></time></p>
                <?=$comment->comment?>
                <div class="section-title"></div>
            </div>
        <? endforeach; ?>
    </div>
<? endif; ?>