<div class="widget">
	<?$a = $this->adminMenu->findOneBy('active', true);
	$title = isset($a) ? $a->getLabel() : '';?>
    <div class="header"><span><span class="ico gray add"></span><?=$title?></span></div>
    <div class="content">
        <?=$this->form?>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var add = $("<a/>").attr({"href":"#"}).text("+").addClass("info-tooltip custom-input add");
    var del = $("<a/>").attr({"href":"#"}).text("-").addClass("info-tooltip custom-input delete");
    add.click(function(){
        var el = $("input[name='value[]']:last").clone();
        $("input[name='value[]']:last").after(el.val('')).after(del.clone().click(function(){
            $(this).prev().remove();
            $(this).prev().remove();
            $(this).remove();
            return false;
        }));
        return false;
    });
    <? if(!empty($this->values)):?>
        <? foreach($this->values as $value): ?>
            var el = $("input[name='value[]']:last").clone();
            $('input[name="value[]"]:last').after(el.val('<?=$value?>')).after(del.clone().click(function(){
                $(this).prev().remove();
                $(this).prev().remove();
                $(this).remove();
                return false;
            }));
        <? endforeach; ?>
        $("input[name='value[]']:first").remove();
        $("a.custom-input.delete:first").remove();
    <? endif; ?>
    $("input[name='value[]']:last").after(add);
});
</script>
<style>
.custom-input {
    top: -2px;
    position: relative;
    margin-left: 10px;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 7px 12px;
    font-size: 13px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
</style>