@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-tweet, .icon-shopcart, .icon-search, .icon-phone, .icon-location, .icon-email, .icon-arrow_right, .icon-arrow_left, .icon-twitter, .icon-skype, .icon-rss, .icon-linkedin, .icon-googleplus, .icon-facebook, .icon-deviantart, .icon-home, .icon-skype-2, .icon-twitter-2, .icon-rss-2, .icon-linkedin-2, .icon-googleplus-2, .icon-fb, .icon-deviantart-2, .icon-remove, .icon-zoom-in, .icon-zoom-out, .icon-ok, .icon-repeat, .icon-refresh, .icon-reorder, .icon-arrow-right, .icon-arrow-left, .icon-reply, .icon-forward, .icon-grid9, .icon-list, .icon-close {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-tweet:before {
	content: "\e001";
}
.icon-shopcart:before {
	content: "\e004";
}
.icon-search:before {
	content: "\e005";
}
.icon-phone:before {
	content: "\e007";
}
.icon-location:before {
	content: "\e008";
}
.icon-email:before {
	content: "\e00d";
}
.icon-arrow_right:before {
	content: "\e00f";
}
.icon-arrow_left:before {
	content: "\e010";
}
.icon-twitter:before {
	content: "\e000";
}
.icon-skype:before {
	content: "\e002";
}
.icon-rss:before {
	content: "\e003";
}
.icon-linkedin:before {
	content: "\e006";
}
.icon-googleplus:before {
	content: "\e009";
}
.icon-facebook:before {
	content: "\e00b";
}
.icon-deviantart:before {
	content: "\e00c";
}
.icon-home:before {
	content: "\e00a";
}
.icon-skype-2:before {
	content: "\e00e";
}
.icon-twitter-2:before {
	content: "\e011";
}
.icon-rss-2:before {
	content: "\e012";
}
.icon-linkedin-2:before {
	content: "\e013";
}
.icon-googleplus-2:before {
	content: "\e014";
}
.icon-fb:before {
	content: "\e015";
}
.icon-deviantart-2:before {
	content: "\e016";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-zoom-in:before {
	content: "\f00e";
}
.icon-zoom-out:before {
	content: "\f010";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-arrow-right:before {
	content: "\e01b";
}
.icon-arrow-left:before {
	content: "\e01a";
}
.icon-reply:before {
	content: "\e017";
}
.icon-forward:before {
	content: "\e018";
}
.icon-grid9:before {
	content: "\e057";
}
.icon-list:before {
	content: "\e019";
}
.icon-close:before {
	content: "\e01c";
}
