.usTable{width:100%;padding:0;border-collapse:collapse;text-align:center;margin:10px auto !important;border-top:1px solid #c9c9c9;-moz-box-shadow:0 0 4px #efefef;-webkit-box-shadow:0 0 4px #efefef;box-shadow:0 0 4px #efefef}

.usTable caption{height:40px;border:1px solid #cdcdcd;border-bottom:none;background:#ffffff;background:-moz-linear-gradient(top,#ffffff 19%,#ededed 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(19%,#ffffff),color-stop(100%,#ededed));background:-webkit-linear-gradient(top,#ffffff 19%,#ededed 100%);background:-o-linear-gradient(top,#ffffff 19%,#ededed 100%);background:-ms-linear-gradient(top,#ffffff 19%,#ededed 100%);background:linear-gradient(top,#ffffff 19%,#ededed 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);font-size:14px;font-weight:bold;padding:0 15px;line-height:40px;text-align:left}

.usTable tbody td{border-bottom:1px solid #e6e6e6;border-right:none;border-left:none;padding:15px 10px!important;text-align:left}
.usTable tbody td:last-child{border-right:none}
.usTable tbody tr:nth-child(odd){background-color:#fdfdfd}
.usTable tbody tr:nth-child(even){background-color:#fafafa}
.usTable tbody tr:hover{background-color:#eaf7ff}
.usTable tbody tr:last-child td{border-bottom:2px solid #d9d9d9}

.usTable thead th{color:#1c1c1c;text-align:left}
.usTable thead{text-shadow:1px 1px 1px #fff;background-color:#f2f2f2;background-repeat:repeat-x;background-position:left top}
.usTable thead th{border-top:0 solid #d6d6d6;border-bottom:1px solid #e6e6e6;padding:8px 10px 8px;line-height:25px}
.usTable thead th:last-child{border-right:none}


.usTable thead input[type="text"],
.usTable thead input[type="number"]{background-position:5px 5px;border:solid 1px #DDD;outline:0;line-height:28px;height:28px;padding:0 7px 0 7px;-moz-box-shadow:1px 1px 2px #f5f5f5;-webkit-box-shadow:1px 1px 2px #f5f5f5;box-shadow:1px 1px 2px #f5f5f5;-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;width:100%}
.usTable thead select{width:100%}

.usTable .sort{background:url(/images/admin/usTable/sort_both.png) no-repeat 0 0;width:19px;height:19px;display:inline-block;text-indent:30px;overflow:hidden;margin:0 0 0 10px;position:relative;top:6px}
.usTable .sort.asc{background:url(/images/admin/usTable/sort_asc.png) no-repeat 0 0}
.usTable .sort.desc{background:url(/images/admin/usTable/sort_desc.png) no-repeat 0 0}

.usTable tfoot td{text-align:left;color:#aaa;padding:0 15px}
.usTable tfoot div{display:inline-block;height:40px;line-height:40px;margin-right:15px}
.usTable tfoot select{display:inline-block}
.usTable tfoot nav{float:right;margin-top:8px}
.usTable tfoot nav li{display:inline-block}

.usTable tfoot nav a,.usTable tfoot nav span,.usTable tfoot nav span.next,.usTable tfoot nav span.previous{-moz-box-shadow:1px 1px 2px #f5f5f5;-webkit-box-shadow:1px 1px 2px #f5f5f5;box-shadow:1px 1px 2px #f5f5f5;padding:7px 10px;margin:10px 5px 10px 5px;background-color:#fdfdfd !important;cursor:pointer;position:relative;display:inline-block;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;border:1px solid #d9d9d9;padding:4px 9px;margin:0 0 0 6px;cursor:pointer;color:#999}
.usTable tfoot nav a:hover,.usTable tfoot nav span{-moz-transform:scale(1.1) rotate(0deg);-webkit-transform:scale(1.1) rotate(0deg);-o-transform:scale(1.1) rotate(0deg);-ms-transform:scale(1.1) rotate(0deg);transform:scale(1.1) rotate(0deg);background-color:#c2e3f0!important;color:#333;border:1px #34667a solid;-moz-box-shadow:1px 1px 2px #ccc;-webkit-box-shadow:1px 1px 2px #ccc;box-shadow:1px 1px 2px #ccc}
.usTable tfoot nav span.next,.usTable tfoot nav span.previous{-moz-transform:scale(1) rotate(0deg);-webkit-transform:scale(1) rotate(0deg);-o-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg)}

.usTableToolbar li{float:right}
.usTableToolbar li a{color:#fff;text-shadow:0 1px 0 #000;text-decoration:none;position:relative;z-index:1;overflow:visible;display:inline-block;padding:5px 12px 6px 12px;margin:10px 3px 10px 0;text-align:center;cursor:pointer;outline:none;border:1px solid #69a44d;background-color:#9bc652;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 0 rgba(0,0,0,0.1);-webkit-transition:all .2s ease-out;-moz-transition:all.2s ease-out;-o-transition:all .2s ease-out;transition:all.2s ease-out;font-weight:bold;font-size:11px;text-transform:capitalize;margin-top:-1px}
.usTableToolbar a.green{background-color:#9bc652;background-position:0 59px;color:#fff;text-shadow:0 1px 0 #000}
.usTableToolbar a.green:hover{color:#fff;text-shadow:0 1px 0 #000;-webkit-box-shadow:rgba(0,0,0,0.35) 1px 1px 1px;}
.usTableToolbar a.blue{border-color:#73b4ce;background-color:#c2e3f0;text-shadow:0 1px 0 #fff;color:#666;background-image:none}
.usTableToolbar a.blue:hover{border-color:#73b4ce;color:#333;-webkit-box-shadow:rgba(0,0,0,0.35) 1px 1px 1px;background-color:#a9daed}
.usTableToolbar a.red{border-color:#a93a25;text-shadow:0 1px 0 #000;color:#fff;background-color:#d74543}
.usTableToolbar a.red:hover{filter:none;color:#efefef;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1), inset 1px 1px 8px #aa3a35;-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1), inset 1px 1px 8px #aa3a35;box-shadow:0 1px 0 rgba(0,0,0,0.1), inset 1px 1px 8px #aa3a35}

.usTable tbody a.green,.usTable tbody a.blue,.usTable tbody a.red{border:none;background:none;text-indent:-2000px;overflow:hidden;position:relative;z-index:1;display:inline-block;padding:5px 12px 6px 12px;margin:10px 3px 10px 0;cursor:pointer;outline:none;-webkit-transition:all .2s ease-out;-moz-transition:all.2s ease-out;-o-transition:all .2s ease-out;transition:all.2s ease-out;margin-top:-1px}
.usTable tbody a.edit,
.usTable tbody a.restore,
.usTable tbody a.archive,
.usTable tbody a.delete,
.usTable tbody a.publish,
.usTable tbody a.unpublish,
.usTable tbody a.list,
.usTable tbody a.view
{background-repeat:no-repeat;background-position:center center}
.usTable tbody a.edit{background-image:url(../../images/admin/icon/gray_18/pencil.png)}
.usTable tbody a.edit:hover{background-image:url(../../images/admin/icon/color_18/pencil.png)}
.usTable tbody a.archive,.usTable tbody a.delete{background-image:url(../../images/admin/icon/gray_18/trash_can.png)}
.usTable tbody a.archive:hover,.usTable tbody a.delete:hover{background-image:url(../../images/admin/icon/color_18/trash_can.png)}
.usTable tbody a.publish{background-image:url(../../images/admin/icon/gray_18/add.png)}
.usTable tbody a.publish:hover{background-image:url(../../images/admin/icon/color_18/add.png)}
.usTable tbody a.unpublish{background-image:url(../../images/admin/icon/gray_18/delete.png)}
.usTable tbody a.unpublish:hover{background-image:url(../../images/admin/icon/color_18/delete.png)}
.usTable tbody a.list{background-image:url(../../images/admin/icon/gray_18/list.png)}
.usTable tbody a.list:hover{background-image:url(../../images/admin/icon/color_18/list.png)}
.usTable tbody a.view{background-image:url(../../images/admin/icon/gray_18/eye.png)}
.usTable tbody a.view:hover{background-image:url(../../images/admin/icon/color_18/eye.png)}

