.chzn-container {
	position: relative;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 100%!important;
	max-width: 340px;
	color:#666666;
}
.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #c9c9c9;
	border-top: 0;
	position: absolute;
	top: 20px;
	left: 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
	width: 100%!important;
	max-width: 338px!important;
	z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
	background-color: #ffffff;
	background-clip : padding-box;
	border: 1px solid #dddddd;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 30px;
	line-height: 31px;
	padding: 0 14px 0 8px;
	color: #666666;
	text-decoration: none;
}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
	background-position: right -11px;
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 32px;
}
.chzn-container-single .chzn-single div b {
	/*	background: url('chosen-sprite.png') no-repeat 0 0;*/
	background-image: url(../../../images/admin/forms/seletedown.png);
	display: block;
	width: 100%;
	height: 100%;
	margin-top:0px;
	background-position: right top!important;
}
.chzn-container-single .chzn-search {
	/*	padding: 3px px;*/
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
	margin-top: 0px;
}
.chzn-container-single .chzn-search input {
	background: #ffffff url('chosen-sprite.png') no-repeat 100% -21px;
	/*	margin: 1px 0;*/
	padding: 0px 0px 0px 0px;
	width: 100%!important;
	max-width: 311px;
	outline: 0;
	border: none;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #eeeeee;
}
.chzn-container-single .chzn-search input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow : none;
	-o-box-shadow : none;
	box-shadow : none;
}
.chzn-container-single .chzn-drop {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius : 0 0 4px 4px;
	border-radius : 0 0 4px 4px;
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;

}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}
/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
	background-color: #fff;
	border: solid 1px #dddddd;
	outline: 0;
	margin: 0;
	padding: 2px 0px;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	width: 100%!important;
	max-width: 338px!important;
	position: relative;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
	margin-top: 2px;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 5px;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 100%!important;
	height: 15px;
	padding: 2px 2px 0px 2px;
	margin: 0px;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow : none;
	-o-box-shadow : none;
	box-shadow : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
	color: #666666;
}
.chzn-container-multi .chzn-choices .search-choice {
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
	background-color: #c2e3f0;
	color: #666666;
	border: 1px solid #73b4ce;
	line-height: 13px;
	padding: 5px 30px 7px 13px;
	margin: 3px 0 3px 5px;
	position: relative;
	cursor: default;
	text-shadow:none;

}
.chzn-container-multi .chzn-choices .search-choice-focus {
	background: #000000;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 8px;
	top: 5px;
	width: 17px;
	height: 16px;
	font-size: 1px;
	background-image: url(../../images/select-close.png);/*	background: url(chosen-sprite.png) right top no-repeat;*/
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
	margin: 0 0px 0px 0;
	max-height: 240px;
	padding: 0 0 0 0px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.chzn-container-multi .chzn-results {
	margin: 0px 0 0 0;
	padding: 0;
	
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 20px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
	border-bottom: 1px #f5f5f5 solid;

}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #c2e3f0;
	color: #666666;
	text-shadow:none;

}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
	
}
.chzn-container .chzn-results .highlighted em {
	background: transparent;
}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999;
	font-weight: bold;
}
.chzn-container .chzn-results .group-option {
	padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 121px;  /*This should by dynamic with js */
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {
	bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
/*background: url('chosen-sprite.png') no-repeat -4px -3px;*/
}
.chzn-container .chzn-results-scroll-up span {
/*background: url('chosen-sprite.png') no-repeat -22px -3px;*/
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
	border: 1px solid #c9c9c9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.chzn-container-active .chzn-single-with-drop {
/*	border: 1px solid #c9c9c9;

	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-webkit-border-bottom-left-radius : 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft : 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;*/
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
	background-image: url(../../images/forms/seleteup.png);
}
.chzn-container-active .chzn-choices {
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	border: 1px solid #c9c9c9;
}
.chzn-container-active .chzn-choices .search-field input {
	color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
	cursor: default;
	opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}
/* @group Right to Left */
.chzn-rtl {
	text-align: right;
}
.chzn-rtl .chzn-single {
	padding: 0 8px 0 0;
	overflow: visible;
}
.chzn-rtl .chzn-single span {
	margin-left: 26px;
	margin-right: 0;
	direction: rtl;
}
.chzn-rtl .chzn-single div {
	left: 3px;
	right: auto;
}
.chzn-rtl .chzn-single abbr {
	left: 26px;
	right: auto;
}
.chzn-rtl .chzn-choices .search-field input {
	direction: rtl;
}
.chzn-rtl .chzn-choices li {
	float: right;
}
.chzn-rtl .chzn-choices .search-choice {
	padding: 3px 5px 3px 19px;
	margin: 3px 5px 3px 0;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
	left: 4px;
	right: auto;
	background-position: right top;
}
.chzn-rtl.chzn-container-single .chzn-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results .group-option {
	padding-left: 0;
	padding-right: 15px;
}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
	border-right: none;
}
.chzn-rtl .chzn-search input {
	background: #fff url('chosen-sprite.png') no-repeat -38px -22px;
	background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	padding: 4px 5px 4px 20px;
	direction: rtl;
}
/* @end */
