<script type="text/javascript">
tinyMCE.init({
    theme : "<?=usEngine_Acl_Plugin::getRole()?>",
    mode : "textareas",
    plugins : "fullscreen",
    height : 450,
    theme_advanced_buttons3 : "hr,removeformat,visualaid,|,sub,sup,|,charmap,|,fullscreen",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : "bottom",
    theme_advanced_resizing : true
});
</script>
<div class="widget">
    <div class="header"><span><span class="ico gray add"></span>Редактировать опцию</span></div>
    <div class="content">
        <?=$this->form?>
    </div>
</div>