<script language="javascript">
    function browseFile(field_name, url, type, win) {
            var inputUrl = $("#" + field_name, win.document);
            var preloader = $("#img-preloader", win.document);
            var inputFile = $("#file", win.document);
            var button = $("#srcbrowser", win.document);
            inputFile.bind("change", function() {
                var file = $(this).prop("files")[0];
                var formData = new FormData();
                formData.append("img_file", file);
                formData.append('upload_dir', 'page');
                button.hide();
                preloader.show();
                $.ajax({
                    url: "<?= $this->url(array(), 'mceFileUpload') ?>",
                    type: "POST",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function(data) {
                    preloader.hide();
                    button.show();
                    data = eval("(" + data + ")");
                    if (data.status == "UPLOADED") {
                        inputUrl.val(data.src);
                        inputUrl.change();
                    } else {
                        alert("Ошибка: " + data.status);
                    }
                });
                $(this).unbind("change");
            });
        }
        tinyMCE.init({
            file_browser_callback: "browseFile",
            theme: "superadmin",
            mode: "textareas",
            plugins: "fullscreen,youtubeIframe",
            height: 450,
            theme_advanced_buttons3: "hr,removeformat,visualaid,|,sub,sup,|,charmap,|,fullscreen,youtubeIframe,gallery",
            theme_advanced_toolbar_location: "top",
            theme_advanced_toolbar_align: "left",
            theme_advanced_statusbar_location: "bottom",
            theme_advanced_resizing: true,
            relative_urls: false,
            convert_urls: false,
            media_strict: false,
            content_css: "<?=$this->baseUrl();?>/stylesheets/tiny_mce.css",
            theme_advanced_fonts: "Arial=arial;",
            theme_advanced_font_sizes: "14px",
            extended_valid_elements: "ul[*],object[width|height|classid|codebase|embed|param],param[name|value],embed[param|src|type|width|height|flashvars|wmode]",
            gallery_backend_url: "<?=$this->baseUrl();?>/admin/page/for-upload"
        });
</script>
<div class="widget">
    <div class="header">
        <span>
            <span class="ico gray add"></span>
            <? if(!empty($this->adminMenu->findOneBy('active', true))): ?>
                <?=$this->adminMenu->findOneBy('active', true)->getLabel()?>
            <? endif;?>
        </span>
    </div>
    <div class="content">
        <?=$this->form?>
    </div>
</div>
<style>
#fieldset-source_group,#fieldset-meta_group{border:none;padding:0}
#fieldset-source_group legend,#source_group-label,#fieldset-meta_group legend,#meta_group-label{display:none}
#source_group-element,#meta_group-element,#fieldset-source_group dl,#fieldset-meta_group dl,#source_group-element .section:first-child,#meta_group-element .section:first-child{margin:0;padding:0;border:0}
</style>