@font-face {
	font-family: 'Open Sans';
	src: url('light/OpenSans-Light-webfont.eot');
	src: url('light/OpenSans-Light-webfont.eot?') format('embedded-opentype'),
		url('light/OpenSans-Light-webfont.woff') format('woff'),
		url('light/OpenSans-Light-webfont.ttf') format('truetype'),
		url('light/OpenSans-Light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('regular/OpenSans-Regular-webfont.eot');
	src: url('regular/OpenSans-Regular-webfont.eot?') format('embedded-opentype'),
		url('regular/OpenSans-Regular-webfont.woff') format('woff'),
		url('regular/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('regular/OpenSans-Regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('semibold/OpenSans-Semibold-webfont.eot');
	src: url('semibold/OpenSans-Semibold-webfont.eot?') format('embedded-opentype'),
		url('semibold/OpenSans-Semibold-webfont.woff') format('woff'),
		url('semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
		url('semibold/OpenSans-Semibold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('bold/OpenSans-Bold-webfont.eot');
	src: url('bold/OpenSans-Bold-webfont.eot?') format('embedded-opentype'),
		url('bold/OpenSans-Bold-webfont.woff') format('woff'),
		url('bold/OpenSans-Bold-webfont.ttf') format('truetype'),
		url('bold/OpenSans-Bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}