<ul class="anchor">
    <li>
        <a class="<?=$this->mode == 'basket' ?  'selected' : 'done'?>" <?=$this->mode == 'contacts' ? 'style="background-position: right -201px;"':''?> href="/basket">
            <label class="stepNumber">Шаг 1</label>
            <span class="stepDesc"><small>Корзина</small></span>
        </a>
    </li>
    <li>
        <a class="<?=$this->mode == 'contacts' ?  'selected' : 'done'?>" <?=$this->mode == 'payment' ? 'style="background-position: right -201px;"':''?> href="/basket/step2">
            <label class="stepNumber">Шаг 2</label>
            <span class="stepDesc"><small>Контактная информация</small></span>
        </a>
    </li>
    <li>
        <a class="<?=$this->mode == 'payment' ?  'selected' : 'disabled'?>" href="">
            <label class="stepNumber">Шаг 3</label>
            <span class="stepDesc"><small>Оплата</small></span>
        </a>
    </li>
</ul>
<div class="clearfix"></div>