<h1>Добрый день, <?=$this->order['name']?></h1>
<div>Вы сделали заказ в магазине <a href="http://<?=$this->data['link']?>"><?=$this->data['site_name']?></a></div>
<h2>Список товаров:</h2>
<table>
    <thead>
        <tr>
            <th><div>№</div></th>
            <th><div>Наименование</div></th>
            <th><div>Цена</div></th>
            <th><div>Количество</div></th>
        </tr>
    </thead>
    <tbody>
        <? foreach($this->order['items'] as $index => $item) : ?>
<!--        --><?// foreach($this->order_items as $index => $item) : ?>
            <tr class="item">
                <td><?=$index?></td>
                <td><?=$item['title']?></td>
                <td><?=$item['price']?></td>
                <td style="text-align: center"><?=$item['amount']?></td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>
<h2>На общую сумму: <?=$this->summ?></h2>
<br>
<small>это письмо сгенерировано автоматически и на него не нужно отвечать</small>