<div>Добрый день</div>
<h1>Поступил новый заказ</h1>
<br>
<h2>Контактная информация клиента:</h2>
<div>Имя: <?=$this->order['name']?></div>
<div>Телефон: <?=$this->order['phone']?></div>
<div>E-mail: <?=$this->order['email']?></div>
<br>
<h2>Список товаров:</h2>
<table>
    <thead>
        <tr>
            <th><div>№</div></th>
            <th><div>Наименование</div></th>
            <th><div>Цена</div></th>
            <th><div>Количество</div></th>
        </tr>
    </thead>
    <tbody>
        <? foreach($this->order['items'] as $index => $item) : ?>
            <!--        --><?// foreach($this->order_items as $index => $item) : ?>
            <tr class="item">
                <td><?=$index+1?></td>
                <td><?=$item['title']?></td>
                <td><?=$item['price']?></td>
                <td><?=$item['amount']?></td>
            </tr>
        <? endforeach; ?>
    </tbody>
</table>
<h2>На общую сумму: <?=$this->summ?></h2>
<br>
<small>это письмо сгенерировано автоматически и на него не нужно отвечать</small>
