<div class="swMain">
    <?=$this->partial("basket/buy-steps-partial.phtml",array('mode'=>'contacts'))?>
    <h3 class="block-title">Контактная информация</h3>
    <p>Поля отмеченные <i style="color:rgb(250,86,86)">*</i> &ndash; обязательны для заполнения</p>
    <form method="POST" action="">
        <div class="fl">
            <?=$this->form->getElement('name')?>
            <?=$this->form->getElement('phone')?>
            <?=$this->form->getElement('email')?>
            <?=$this->form->getElement('address')?>
        </div>
        <div class="fr">
            <?=$this->form->getElement('comment')?>
        </div>
        <div class="actionBar">
<!--            <a href="/basket/step2" class="buttonNext">Далее</a>-->
            <?=$this->form->getElement('submit')?>
        </div>
        
    </form>
</div>