<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 side">
        <?=$this->action('widget-categories', 'category', 'catalog')?>
        <?=$this->action('widget-seacrh', 'product', 'catalog')?>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 main">
        <div class="section">
            <h1 class="section-title">Оформление заказа</h1>
        </div>
        <div class="section">
            <p>Поздравляем!</p>
            <p>Ваш заказ успешно сформирован. В скором времени наш менеджер свяжется с вами.</p>
        </div>
    </div>
</div>