<div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 side">
        <?=$this->action('widget-categories', 'category', 'catalog')?>
        <?=$this->action('widget-seacrh', 'product', 'catalog')?>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 main">
        <form action="" method="POST">
            <div class="section">
                <h1 class="section-title">Корзина</h1>
            </div>
            <div class="section">
                <table class="my-cart">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">Изображение</th>
                            <th class="product-name">Товар</th>
                            <th class="product-qty hidden-xs">Количество</th>
                            <th class="product-price">Цена</th>
                            <th class="product-action"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <? $total = 0; ?>
                        <? if(!empty($this->products) && count($this->products) > 0): ?>
                            <? foreach($this->products as $product): ?>
                                <? $title = $this->escape($product->title); ?>
                                <tr>
                                    <td>
                                        <div class="img-placeholder">
                                            <a href="/catalog/product/<?=$product->alias?>" title="<?=$title?>">
                                                <img src="/media/products/list_<?=$product->image?>" alt="<?=$title?>">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/catalog/product/<?=$product->alias?>" title="<?=$title?>">
                                            <?=$product->title?>
                                        </a>
                                    </td>
                                    <td class="hidden-xs">
                                        <div class="qty-btngroup">
                                            <button type="button" class="minus">-</button>
                                            <input type="text" value="<?=$this->cookies[$product->id]['count']?>" name="products[<?=$product->id?>]">
                                            <button type="button" class="plus">+</button>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="price">
                                            <?=$product->currentPrice?> руб.
                                        </span>
                                    </td>
                                    <td>
                                        <a href="/basket/delete/<?=$product->id?>" class="remove-item" title="Удалить товар из корзины">
                                            <span class="icon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                                <? $total = $total + (double)str_replace(' ', '', $product->currentPrice) * $this->cookies[$product->id]['count']; ?>
                            <? endforeach; ?>
                        <? endif; ?>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" style="text-align:right">
                                <input type="submit" name="recount" class="btn btn-primary btn-small" value="Пересчитать" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="section">
                <div id="cart-accordion" class="checkout accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#cart-accordion" href="#contacts">
                                <i class="icon-arrow-right"></i> Контактная информация
                            </a>
                        </div>
                        <div id="contacts" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <?=$this->formContacts->getElement('name')?>
                                        <?=$this->formContacts->getElement('phone')?>
                                        <?=$this->formContacts->getElement('email')?>
                                        <?=$this->formContacts->getElement('region')?>
                                        <?=$this->formContacts->getElement('city')?>
                                        <?=$this->formContacts->getElement('zip')?>
                                        <?=$this->formContacts->getElement('address')?>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <?=$this->formContacts->getElement('comment')?>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 space30 clearfix"></div>
                                <?=$this->formContacts->getElement('contact')?>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#cart-accordion" href="#delivery">
                                <i class="icon-arrow-right"></i> Способ доставки
                            </a>
                        </div>
                        <div id="delivery" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <?=$this->formDelivery->getElement('delivery')?>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 space30 clearfix"></div>
                                <?=$this->formDelivery->getElement('delivery_submit')?>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#cart-accordion" href="#kupon">
                                <i class="icon-arrow-right"></i> Купон
                            </a>
                        </div>
                        <div id="kupon" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="form-group">
                                    <label for="kupon_code">Введите код купона, если он у вас имеется</label>
                                    <div class="row">
                                        <?=$this->formKupon->getElement('kupon_code')?>
                                        <div class="col-xs-12 space20 visible-xs"></div>
                                        <?=$this->formKupon->getElement('kupon_submit')?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#cart-accordion" href="#payments">
                                <i class="icon-arrow-right"></i> Способ оплаты
                            </a>
                        </div>
                        <div id="payments" class="accordion-body collapse" style="height: 0px;">
                            <div class="accordion-inner">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <?=$this->formPayment->getElement('payment')?>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 space30 clearfix"></div>
                                <?=$this->formPayment->getElement('payment_submit')?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-lg-6 pull-right center-sm">
                        <table class="shop-summary">
                            <tbody>
                                <tr>
                                    <th>Стоимость товаров:</th>
                                    <td><?=number_format((float)$total, 2, '.', ' ')?> руб.</td>
                                </tr>
                                <tr>
                                    <th>Стоимость доставки</th>
                                    <td><?=number_format($this->delivery, 2, '.', ' ')?> руб.</td>
                                </tr>
                                <tr>
                                    <th>Скидка</th>
                                    <? if($this->discount === false): ?>
                                        <td>0 руб.</td>
                                    <? else: ?>
                                        <? $discount = (float)($total/100)*$this->discount?>
                                        <td><?=number_format($discount, 2, '.', ' ')?> руб.</td>
                                    <? endif; ?>
                                </tr>
                                <tr class="total">
                                    <th>Итого:</th>
                                    <? if($this->discount === false): ?>
                                        <td><?=number_format((float)$total + $this->delivery, 2, '.', ' ')?> руб.</td>
                                    <? else: ?>
                                        <td><?=number_format((float)($total + $this->delivery - $discount), 2, '.', ' ')?> руб.</td>
                                    <? endif; ?>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" name="checkout" value="Оформить заказ" class="btn btn-primary">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>