<div class="col-xs-6 col-sm-6 cart-container">
    <div class="header-cart animated fadeInLeft">
        <div class="inner">
            <div class="relative">
                <a href="/basket" class="btn btn-iconed">
                    <i class="icon-shopcart"></i>
                    <span>
                        <?=$this->count . ' ' . $this->decl($this->count, array('товар','товара','товаров'))?>
                        - 
                        <?=number_format((float)$this->total, 2, '.', ' ')?> руб.
                    </span>
                </a>
                <? if(!empty($this->products) && count($this->products) > 0): ?>
                    <div class="cart-items">
                        <ul class="items clearfix">
                            <? foreach($this->products as $product): ?>
                                <? $title = $this->escape($product->title)?>
                                <li>
                                    <div class="item-thumbnail">
                                        <a href="/catalog/product/<?=$product->alias?>" title="<?=$title?>">
                                            <img src="/media/products/list_<?=$product->image?>" alt="<?=$title?>" />
                                        </a>
                                    </div>
                                    <a href="/catalog/product/<?=$product->alias?>" class="item-name" title="<?=$title?>">
                                        <?=$product->title?>
                                    </a>
                                    <span class="item-price">
                                        <?=$this->cookies[$product->id]['count']?> x <?=$product->currentPrice?> руб. 
                                    </span>
                                    <div class="clearfix"></div>
                                </li>
                            <? endforeach; ?>
                        </ul>
                        <div class="footer">
                            <a href="/basket" title="Корзина товаров">
                                Перейти в корзину
                            </a>
                            <span style="text-decoration:none">&nbsp;|&nbsp;</span>
                            <a href="/checkout" title="Оформить заказ">
                                Оформить заказ
                            </a>
                        </div>
                    </div>
                <? endif; ?>
            </div>
        </div>
    </div>
</div>