<? if (APPLICATION_ENV != 'production') : ?>
    <div class="container main-content clearfix">
        <div class="sixteen columns">
            <h3 class="title">
                An error occurred
            </h3>
        </div>
        <div class="sixteen columns">
            <p><?= $this->message ?></p>
            <? if (isset($this->exception)): ?>
                <h6><span class="color">Exception information</span></h6>
                <p class="bottom-1">Message: <?= $this->exception->getMessage() ?></p>
                <h6><span class="color">Stack trace</span></h6>
                <pre class="bottom-1"><?= $this->exception->getTraceAsString() ?></pre>
                <h6><span class="color">Request Parameters:</span></h6>
                <pre><?= var_export($this->request->getParams(), true) ?></pre>
            <? endif; ?>
        </div><!-- End column -->
    </div><!-- <<< End Container >>> -->
<? else : ?>
    <? $this->headTitle()->prepend('Страница не найдена'); ?>
    <div class="page-404">
        <div class="container main-content clearfix">
            <div class="sixteen columns">
                <div class="oops">
                    упс!
                </div>
                <div class="text">
                    К сожалению, запрашиваемая Вами страница не существует.
                </div>
                <div class="text">
                    Приносим свои извинения! <a href="<?=$this->baseUrl('/')?>"><span class="color">Вернуться на главную</span></a>.
                </div>
                <div class="coffee">
                    <i class="icon-coffee"></i>
                    <i class="icon-fire"></i>
                </div>
            </div><!-- End column -->
        </div><!-- <<< End Container >>> -->
    </div><!-- End 404 -->
<? endif; ?>
