<div class="inner-action-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 center-sm">
                <? if(count($this->pages) > 0): ?>
                    <div class="breadcrumbs">
                        <ul class="unstyled">
                            <? foreach($this->pages as $page): ?>
                                <? if ($page->isActive(false)):?>
                                    <li class="active"><?=$page->label?></li>
                                <? else: ?>
                                    <li><a href="<?=$page->getHref()?>"><?=$page->label?></a></li>
                                <? endif; ?>
                            <? endforeach; ?>
                        </ul>
                    </div>
                <? endif; ?>
            </div>
            <div class="col-xs-12 col-sm-12 space20 visible-xs"></div>
            <div class="col-xs-12 col-sm-6 center-sm"></div>
        </div>
    </div>
</div>