<?
function renderSubPages($page)
{
    ?>
    <? if(count($page)): ?>
        <ul class='categories-submenu' style="<?=($page->isActive(true) ? 'display:block' : '')?>">
            <? foreach($page as $subpage): ?>
                <? if (!$subpage->isVisible()) continue; ?>
                <li class="<?=($subpage->isActive(true) ? 'active' : '')?>">
                    <i class='icon-angle-right'></i>
                    <a class="<?=($subpage->isActive(true) ? 'active' : '')?>" href="<?=$subpage->getHref()?>">
                        <?=$subpage->label?>
                    </a>
                    <? renderSubPages($subpage); ?>
                </li>
            <? endforeach; ?>
        </ul>
    <? endif; ?>

    <?
}
?>

<ul class="categories">  
    <? foreach($this->container as $page): ?>
        <? if (!$page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
        <li>
            <i class='icon-angle-right'></i>
            <a class="<?=($page->isActive(true) ? 'active' : '')?>" href="<?=$page->getHref()?>">
                <?=$page->label?>
            </a>
            <? renderSubPages($page); ?>
        </li>
    <? endforeach; ?>
</ul>