<ul class="icons">
    <? foreach($this->container as $page): ?>
        <? if (!$page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
        <li>
            <i class="icon-angle-right"></i>
            <?=$this->navigation()->menu()->htmlify($page)?>
        </li>
    <? endforeach; ?>
</ul>
