<ul class="menu clearfix">    
    <? foreach($this->container as $page): ?>
        <? foreach($page as $subpage): ?>
            <? if (!$subpage->isVisible() || !$this->navigation()->accept($subpage)) continue; ?>
            <li class="<?=($subpage->isActive(true) ? 'active' : '')?>">
                <?=$this->navigation()->menu()->htmlify($subpage)?>
            </li>
        <? endforeach; ?>
    <? endforeach; ?>
</ul>