<ul class="dl-menu">
    <li class="dl-back"><a href="javascript::void();">Назад</a></li>
    <? foreach($this->container as $page): ?>
        <? if (!$page->isVisible()) continue; ?>
        <? if (
            !empty($page->resource) &&
            !empty($page->privilege) &&
            !Zend_Registry::get('Acl')->isAllowed(usEngine_Acl_Plugin::getRole(), $page->resource, $page->privilege)
        ) continue; ?>
        <li class="<?=($page->isActive(true) ? 'active' : '')?>">
            <a href="<?=$page->getHref()?>"><?=$page->label?></a>
        </li>
    <? endforeach; ?>
</ul>