.bordered {
    border: 4px gray dashed;
    border-radius: 50px;
    background: white;
    min-height: 250px;
    margin-bottom: 30px;
    padding: 30px;
    background: url(../img/gallery-icon-big.png) no-repeat center center;
    /*overflow: hidden;*/
    position: relative;
    overflow: hidden;
}

.bordered input[type="file"] {
    opacity: 0; 
    width: 100%; 
    height: 100%;
    position: absolute;
    /*display: none;*/
}

.preloader {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black url(../img/preloader.gif) no-repeat center center;
    position: fixed;
}
.gallery-container {
    padding: 0 0;
    list-style: none;
    float: left;
}
.gallery-container:after {
    clear: both;
}
.gallery-container li {
    float: left;
    margin: 5px;
    position: relative;
    cursor: move;
}

.gallery-container li img {
    box-shadow: 0 0 10px rgba(0,0,0,1);
    position: relative;
    width:100px; 
    height: 60px;
}
.gallery-container li span {
    position: absolute;
    left: 0px;
    bottom: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

    