<?=$this->doctype()?>
<?=$this->layout()->header?>
<html>
    <head>
        <?
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/open-sans/stylesheet.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/icomoon/style.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/bootstrap.min.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/style.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/responsive.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/animate.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/flexslider/flexslider.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/flexslider/default.css"));
        
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/modernizr.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/bootstrap.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/package.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.carouFredSel.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.flexslider.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.calendarlite.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.zoom-min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/scripts.js"));

        echo $this->headMeta();
        echo $this->headTitle();
        echo $this->headLink();
        echo $this->headStyle();
        ?>
    </head>
    <body>
        <div id="page-wrapper">
            <?=$this->action('header', 'index', 'index')?>
            <div id="site-content">
                <?=$this->navigation()->breadcrumbs($this->headerMenu)->setPartial('menu/breadcrumbs.phtml')?>
                <div class="main-content">
                    <div class="container">
                        <?=$this->action('messages', 'index', 'index')?>
                        <?=$this->layout()->content?>
                    </div>
                </div>
            </div>
            <?=$this->action('footer', 'index', 'index')?>
        </div>
        <?=$this->headScript()?>
    </body>
</html>
