<?=$this->doctype()?>
<?=$this->layout()->header?>
<html>
    <head>        
        <?
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/open-sans/stylesheet.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/icomoon/style.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/bootstrap.min.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/style.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/responsive.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/animate.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/flexslider/flexslider.css"));
        $this->headLink()->appendStylesheet($this->baseUrl("/css/site/flexslider/default.css"));
        
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/modernizr.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/bootstrap.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/package.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.carouFredSel.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/jquery.flexslider.min.js"));
        $this->headScript()->appendFile($this->baseUrl("/js/site/scripts.js"));

        echo $this->headMeta();
        echo $this->headTitle();
        echo $this->headLink();
        echo $this->headStyle();
        ?>
    </head>
    <body>
        <div id="page-wrapper">
            <?=$this->action('header', 'index', 'index')?>
            <div id="site-content">
                <?=$this->action('slide', 'slide', 'slide', array('alias' => 'na-glavnoy'))?>
                <div class="section with-carousel">
                    <div class="container">
                        <?=$this->layout()->content?>
                    </div>
                </div>
                <?=$this->action('widget', 'parthner', 'parthner')?>
            </div>
            <?=$this->action('footer', 'index', 'index')?>
        </div>
        <?=$this->headScript()?>
        <script>
            jQuery(function($) {
                var $slider = $('#top-slider > .flexslider');
                $slider.imagesLoaded(function() {
                    $slider.flexslider({
                        animation: 'slide',
                        easing: 'easeInBack',
                        useCSS: false,
                        animationSpeed: 1000,
                        slideshow: false,
                        smoothHeight: true,
                        start: function(slider) {
                            // wrap control nav inside container
                            var $controlNav = $slider.find('.flex-control-nav');
                            $controlNav.wrap('<div class="flex-pagination-container" />').wrap('<div class="container" />').wrap('<div class="col-xs-12 col-sm-12" />');
                            $controlNav.fadeIn();

                            center_caption(slider);
                        },
                        before: function(slider) {
                            // initial caption animation for next show
                            $slider.find('.slides li .animation-done').each(function() {
                                $(this).removeClass('animation-done');
                                var animation = $(this).attr('data-animation');
                                $(this).removeClass(animation);
                            });

                            center_caption(slider)
                            $(window).trigger('resize');
                        },
                        after: function() {
                            // run caption animation
                            $slider.find('.flex-active-slide .animated').each(function() {
                                var animation = $(this).attr('data-animation');
                                $(this).addClass('animation-done').addClass(animation);
                            });
                            $(window).trigger('resize');
                        }
                    });
                });

                // vertical align center caption
                function center_caption(slider)
                {
                    $slider.find('li:eq(' + (slider.animatingTo + 1) + ') .caption-body').each(function() {
                        var $caption = $(this),
                                captionH = $caption.outerHeight(),
                                // sliderH = $slider.height(),
                                // let's hardcode it
                                sliderH = 480,
                                top = (sliderH - captionH) / 2;

                        $caption.css('top', top + 'px');
                    });
                }

                $(window).on('throttledresize', function() {
                    $slider.find('.flex-active-slide .caption-body').each(function() {
                        var $caption = $(this),
                                captionH = $caption.outerHeight(),
                                sliderH = $slider.height(),
                                top = (sliderH - captionH) / 2;

                        $caption.css('top', top + 'px');
                    });
                });
            });
                </script>
    </body>
</html>
