<div class="widget">
    <div class="header">
        <span>
            <span class="ico gray add"></span>
            <? if(!empty($this->adminMenu->findOneBy('active', true))): ?>
                <?=$this->adminMenu->findOneBy('active', true)->getLabel()?>
            <? endif; ?>
        </span>
    </div>
    <div class="content">
        <?=$this->form?>
    </div>
</div>